[2018-06-18 16:48] codejamninja commented on #268
That's fine, I would still find this feature useful for min on demand number

[2018-06-21 13:41] cristim commented on #267
I'll look into this tomorrow.

[2018-06-21 14:47] cristim commented on #263
I'm thinking to just iterate over the list of compatible instance types ordered increasingly by price and launch them one by one until we get one that can be launched successfully.

[2018-06-21 14:50] cristim commented on #240
This was largely addressed by #257, we now fail to launch the instance in the current run if the SIR failed to launch an instance within some 30s or so.

Going forward, in #263 we'll try multiple instance types after the first failed.

[2018-06-21 14:51] #240 closed

[2018-06-24 07:12] artemnikitin commented on #169
@cristim, @xlr-8 I have a couple of questions regarding this:
1) Should additional tracing via X-Ray be configurable? Like, disabled by default and activated if certain env. variable is present.
2) To support X-Ray all AWS SDK methods should be used with context. Do you have any objections against this?

[2018-06-24 09:53] artemnikitin commented on #169
Ok, for

In our case `Enable active tracing` should be enabled in Lambda for X-Ray to work. https://docs.aws.amazon.com/xray/latest/devguide/xray-services-lambda.html

[2018-06-27 14:04] binarylogic opened #274 "New instances fail to obtain public IP"
## Issue type ##

- Bug Report

## Summary ##

We recently updated to the latest version of the lambda function and new spot instances no longer receive public IPs when launching. This caused our instances to be unusable and subsequently took down those instances. Rolling back to our previous version (`nightly-878`) resolved the issue. Unfortunately I don't have more information but wanted to open

[2018-06-27 15:43] cristim commented on #274
This was briefly broken after merging #257, but should be fixed in lambda_build_882.zip, please let me know if you still have any issues with that.

[2018-07-03 14:38] goloroden opened #277 "Does not find all on-demand instances"
## Issue type ##

- Bug Report

## Build number #

[code]

## Configuration ##

- Kubernetes cluster setup using Kops
- 3 master nodes, 6 worker nodes
- Settings for `autospotting` are all default, except the instance type to use, which has been set to `m4.large`

## Environment ##

- AWS region:
  - autospotting: us-east-1
  - ASG to manage: eu-central-1
- Type of environment: VPC
- Anonymized la

[2018-07-03 16:36] cristim commented on #277
Thanks for reporting this.

So far from what you described it seems like you are just running into capacity limits with the m4.large and you restricted it to a single instance type so it can't find any alternatives for now in that availability zone. If you give it enough time it should eventually launche one, but there is no guarantee on how long it takes.

Try to remove the allowed instance types

[2018-07-03 18:39] goloroden commented on #277
As it seems, you're actually right.

Maybe the error message could be slightly better then 😉
(It's a little bit misdirecting, if it tells you that no machines to update were found.)

Apart from that: Very nice project 👍

[2018-07-03 18:39] #277 closed

[2018-07-03 20:08] cristim commented on #277
Thank you for the nice words, I really appreciate it.

To be honest I haven't seen this situation myself yet, it was just reported by various users. Please paste the misleading log entry and I will try to improve it.

[2018-07-05 18:37] cristim commented on #274
closing issue

@binarylogic  please re-open if you still have any issues

[2018-07-05 18:37] #274 closed

[2018-07-05 18:41] cristim commented on #243
I'm thinking  to make use of multi-stage builds through docker-compose and integrate them into the make targets

[2018-07-05 18:53] cristim commented on #239
With the current RunInstances implementation the SIRs are no longer prone to API throttling.

I think this aggregation would just complicate the logic to little if any benefit.

[2018-07-05 18:53] #239 closed

[2018-07-05 19:33] cristim commented on #212
This should be doable with multiple installations of the AutoSpotting Lambda function, each configured with its own tag filters.

@kaitea please re-open if you have any issues configuring this.

[2018-07-05 19:33] #212 closed

[2018-07-05 19:37] cristim commented on #185
This should no longer be a problem. The tags are only set once, when starting the new spot instances. Any further changes by the user-data scripts should no longer be reverted.

[2018-07-05 19:37] #185 closed

[2018-07-05 19:46] cristim commented on #171
The RunInstances call implemented #257 is also addressing this issue.

The call is synchronous, so it's waiting for the new spot instances to be launched, but anyway the Lambda cost is so low that it doesn't make much difference.

[2018-07-05 19:46] #171 closed

[2018-07-05 19:51] cristim commented on #166
Since #257 was merged this is no longer an issue, the SIRs are handled internally by AWS and should be cancelled if the instances fail to launch immediately, so AutoSpotting will keep running the on-demand nodes until it's able to launch a spot instance.

The fall-back to other instance types is planned to be implemented in #263

[2018-07-05 19:51] #166 closed

[2018-07-05 20:05] cristim commented on #126
There's nothing we can do about this until AWS and ec2nstances.info updates the data for the G2 instance types.

We should re-open this once that's available

[2018-07-05 20:05] #126 closed

[2018-07-05 20:21] cristim commented on #3
With stable spot prices it's hard to tell which instance types are more reliable, unless we start collecting information on spot terminations to estimate such likelihood which I'm not sure is a good idea.

Another way may be to look at the smallest spot/on-demand price ratio, but that's pretty much already in place, since we always try to pick the cheapest available instance types.

[2018-07-05 20:21] #3 closed

[2018-07-05 20:22] cristim commented on #78
I think it makes sense to do this in a second pass when iterating over the compatible instance types when implementing #263.

[2018-07-05 20:23] cristim commented on #38
With stable prices this is no longer a problem.

[2018-07-05 20:23] #38 closed

[2018-07-05 20:48] sc-chad commented on #185
Awesome thanks!

[2018-07-20 17:10] lenucksi opened #281 "Support autoscaling managed services wrapping ASGs"
# Support autoscaling managed services wrapping ASGs
## Rationale

Currently, Autospotting manages autoscaling groups (ASGs) using standard EC2 instances without any knowledge of the services running in them.
Autospotting expects services to react well to sudden infrastructure failure (i.e. termination of an on-demand instance and raising of a new spot instance) which is acceptable for a lot of se

[2018-07-23 17:42] drpebcak opened #282 "No spot found when limiting to new 'd' instances"
# Github issue #

## Issue type ##

- Bug Report

## Build number #

Installed 0.0.9 from the terraform registry

[code]

## Configuration ##

Here is the TF used to launch the stack:

[code]

## Environment ##

- AWS region
us-west-2
- Type of environment: (VPC, EC2Classic or DefaultVPC)
VPC

## Summary ##

When limiting `autospotting_allowed_instance_types` to only the new 'd' type instances, au

[2018-07-23 18:09] cristim commented on #282
@drpebcak thanks for reporting this issue.

Unfortunately the default log is not very useful because it doesn't indicate the reason why the instance comparisons failed(note to self: this should also be improved). Please attach a debug log which should hopefully be more detailed. Otherwise I'll need to spend some more time reproducing this myself.

[2018-07-23 19:15] drpebcak commented on #282
@cristim found something interesting in debug:
[code]

Notice how it says `Spot virtualization: []`? Other instance types will actually list the virtualization types available, like `Spot virtualization: [HVM PV]` (from a different type right above - c3.4xlarge)

Please note that I can manually (outside of autospotting) create a spot instance with the type m5d.large.

[2018-07-23 19:58] cristim commented on #282
good catch, thanks!

Looks like we're missing some data on these instance types.

[2018-07-24 07:42] cristim commented on #282
I found the problem, we're missing this flag from the instance data:
Have a look at the c5d data in https://raw.githubusercontent.com/powdahound/ec2instances.info/master/www/instances.json

![image](https://user-images.githubusercontent.com/95209/43123853-be3abe86-8f25-11e8-86e7-bcce3c87cec4.png)

compared to c5.large's data:

![image](https://user-images.githubusercontent.com/95209/43123877-d0340

[2018-07-26 06:18] #282 closed

[2018-07-27 19:34] otterley commented on #149
I believe this issue can be resolved by offering the user the ability to require the same spot instance type as that of the on-demand instance being replaced.

[2018-07-27 21:51] otterley opened #284 "Launch/replacement cycle efficiency improvements"
Thanks for Autospotting!  Great work so far.

I recently enabled it for the first time in one of our Auto Scaling Groups, and I'm noticing that it's only launching 1 spot instance every 15 minutes.  This appears to be caused by the following factors:

1. The Health Check Grace Period configured on our ASG is 300 seconds, which is exactly the same as the Lambda execution frequency.  When the functi

[2018-07-28 01:39] koitsu commented on #282
I know this issue was closed 2 days ago, but I've an important question: Did anyone talk to Amazon about this, re: why their API is returning no virtualisation types for these type of instances?  If not, why not?  This really seems like a bug that should be discussed with them and properly fixed upstream.

[2018-07-28 03:53] drpebcak commented on #282
@koitsu my understanding is that this data is being pulled from ec2instances.info, not the AWS api. I believe ec2instances.info actually scrapes data from aws product/pricing pages, not from some api either.

[2018-07-28 05:32] cristim commented on #282
I commented this on the linked issue on the ec2instances.info project:

"The data about C5D and M5D instance types is missing from https://aws.amazon.com/amazon-linux-ami/instance-type-matrix/

This needs to be fixed by someone at AWS."

I also raised this by Twitter to the main AWS handle and was told that it would be forwarded to the documentation team. I hope this is fixed soon so our workaroun

[2018-07-28 05:40] cristim commented on #284
Thanks for reporting this.

Mainly for simplicity and stability reasons the current implementation only handles a single action per run on any given group. This may be slower than expected for the initial run but considering that Autospotting is designed towards usage against long-running groups, the added costs of this slow ramp-up is negligible.

Multiple actions may be doable but would need a b

[2018-07-28 06:11] cristim commented on #149
This has been available for a while, but maybe not documented well enough. You can just use the "current" keyword when restricting the instance types.

[2018-07-30 17:34] cristim commented on #284
My main concern is that the grace period is arbitrary and may not guarantee that the instance is ready to receive traffic. In case it isn't, the group will notice and replace it quickly enough and without much impact.

If we do this for many instances at once, we risk replacing too many nodes with unhealthy spot instances, causing downtime.

When replacing more instances, it's also more likely to

[2018-07-30 18:10] otterley commented on #284
The grace period is tunable by the user, so it can always be increased to suit the particular application.

With ordinary Auto Scaling Groups, we don't use grace periods anyway -- we use Launch Lifecycle Hooks to signal readiness.  For example, we have a Step Function that is triggered by an instance launch that waits for an instance to join an ECS cluster and optionally starts a task before compl

[2018-07-30 18:51] cristim commented on #284
The main differentiator design principle of AutoSpotting is about minimizing the required configuration of the existing group, so that it can be rolled out at scale. If we require configuration changes, our users might as well switch to spot fleets or other tools that rely on such configuration changes and may have other benefits.

Hopefully the group should keep running as before, just with spot

[2018-07-30 19:43] koitsu commented on #282
I work for a company who has a very close relationship with AWS. I've filed AWS Support Case 5252475941 about the missing instance types on said page. If we don't get reasonable traction, I'll bring it to the attention of our dedicated Support reps.  I'll update https://github.com/powdahound/ec2instances.info/issues/359 with the same info. Thanks!

[2018-07-30 20:11] otterley commented on #284
I'm sorry to say that Lifecycle Hooks are already broken.  Half of this -- the termination Lifecycle Hook case -- will be fixed when #248 is merged (hopefully soon!).  The other half -- the launch Lifecycle Hook case -- cannot be addressed by Autospotting alone.   We're less concerned about Launch Lifecycle hooks, since health checks can always be made to fail later (via ELB health checks, or cust

[2018-08-01 13:25] symonds opened #285 "Launch Template support"
When running autospotting against an ASG which is configured using Launch Templates instead of Launch Configurations the current master 24a5693f0c336f32fddce4fdaab87aeccca26d4f branch has the following error:

[code]

Seems to be related to https://github.com/cristim/autospotting/blob/master/core/instance.go#L422

[2018-08-01 16:44] cristim commented on #285
Good catch, thanks for testing this.

I wasn't aware that just one of those is required and I have no environments based on launch templates where I could test this.

Try to delete the line with the name, and please create a PR if it works as expected.

[2018-08-10 09:40] lukvdborne opened #289 "Switch to RunInstances API leads to 403 UnauthorizedOperation errors"
# Github issue #

## Issue type ##

- Bug Report

## Build number #

[code]

## Configuration ##

-

## Environment ##

- eu-west-1
- Type of environment: VPC
- Anonymised launch configuration:

[code]

## Summary ##

It appears the switch to the new RunInstance API call and the respective change in de autospotting-policy.json in commit ea38ec20fd3726355f996d0efab9c08d2a5f1369 causes the following

[2018-08-10 12:03] lukvdborne commented on #289
Do you mean this file? https://github.com/cristim/autospotting/blob/master/terraform/autospotting/autospotting-policy.json

It was automatically updated with the terraform init. We did remove the .terraform dir prior to (re)running `terraform init`

[2018-08-10 17:06] cristim commented on #289
That should be fine, just make sure you run a recent autospotting version against it, the build 794 is 3 months old and won't work with this policy. The latest build as of now is 912.

[2018-08-12 10:55] cristim commented on #285
@symonds have a look at this fork by @snake-aas, apparently he's also working on this: https://github.com/snake-aas/autospotting

[2018-08-14 10:36] cristim commented on #138
Fixed in #287, closing issue

[2018-08-14 10:36] #138 closed

[2018-08-15 08:07] cristim commented on #289
@lukvdborne are you still experiencing this issue with the latest build?

[2018-08-15 08:31] jjones-smug commented on #133
I have add-on Python Lambda that does this by subscribing to "EC2 Spot Interrupt" notifications in Cloudwatch Events.  The idea is the same as polling the metadata, but it's a "push" model instead.  You can setup CloudWatch Events to trigger a Lambda or add a record to a Kinesis stream.  We're using the Kinesis stream option, since the data is interesting to keep around.  So the Kinesis stream is

[2018-08-15 09:11] jjones-smug opened #290 "Seeing "stranded" spot instances when minimum OD instances are configured"
# Github issue #

## Issue type ##

- Bug Report

## Build number #

Custom build based on 24a5693f0c336f32fddce4fdaab87aeccca26d4f (from Jul 26, 2018)

Diff: https://gist.github.com/jjones-smug/7fe55c7015982411a92f30b31298d529

We also use a different setup for IAM permissions, but I don't think that's relevant.  I can share those if necessary but want to avoid to much SPAM.

## Configuration ##

[2018-08-15 09:54] cristim commented on #290
@jjones-smug thanks for reporting this, it definitely looks like a regression of the recent RunInstances change, sorry about that.

Unfortunately I'm busy with other stuff these days so I won't be able to help you with this, but by all means please give that a try and if you get it working properly without introducing another regression for other use cases, I'll definitely accept a PR for this iss

[2018-08-15 16:50] jjones-smug commented on #290
Working on it today...  Thanks!

[2018-08-15 17:07] aaronthebaron commented on #290
Thanks @jjones-smug I've got this issue as well. Let me know if I can test a fix in my cluster.

[2018-08-15 18:58] lukvdborne commented on #289
No I didn't look properly and wasn't aware the lambda wasn't part of the module but was a separate upload in the repository. It works with the latest build! Thanks!

[2018-08-15 18:58] #289 closed

[2018-08-15 20:49] jjones-smug commented on #290
testing it now.  It's really simple, so here's a GIST if you want to try it in parallel.

https://gist.github.com/jjones-smug/7d04d6ecf52973fcf58a034c90f34468

[2018-08-15 22:51] jjones-smug commented on #290
Tested fine for us, we've pushed it live as of a few minutes ago.  I'll work on getting a PR submitted this evening.

[2018-08-20 08:37] #290 closed

[2018-09-04 16:32] croman opened #293 "Pause autospotting when instance type is oversubscribed"
When there's a high demand for a particular type of instance, the spot instances start getting the termination notification and shut down. Autospotting then replaces the newly created normal instances with spot, but those soon get terminated as well, and the cycle continues.

This happened to me twice, with different instance types (m3.medium and t2.small) but each time with only one type of insta

[2018-09-05 20:14] cristim commented on #293
Thanks for reporting this issue, I definitely think this is valuable to have, I'm just not sure how should we implement it.

So far autospotting is only aware of the currently running instances, we do not consider the previous state, nor keep track of the instances that were launched or terminated recently in order to determine the stability level of the instance types.

We would need to store a s

[2018-09-07 10:02] cristim commented on #267
Fixed in #275.

[2018-09-07 10:02] #267 closed

[2018-09-07 10:12] cristim opened #294 "Recent instance types (T3, R5, etc.) are not supported"
# Github issue #

- Bug Report

## Build number #

[code]

## Configuration ##

- T3, R5, etc. instances as initial instance type set on the ASG
- other on-demand instance types that would normally be replaceable by these recent instance types

## Summary ##

AutoSpotting lacks support for the recent instance types, because we lack spec and/or pricing information for them, which should come from t

[2018-09-07 10:26] sunnynew commented on #263
Hi @cristim

First of all congrats on this wonderful tool.

I wanted to know about this particular issue, anytime soon can we expect a fix.  As you mentioned just make Autospotting to iterate over all instance type mentioned in allowed_instance_types list.

This will be a lifesaver.

Thanks!

[2018-09-07 14:51] cristim commented on #263
@sunnynew thanks for your feedback, I appreciate it.

I'm now focusing on #294 so I'm not planning to work on this in the very near future, but feel free to take it over and contribute a PR if you need this so badly and have some time to spare.

I can help you with guidance if you need any.

[2018-09-14 13:47] cristim opened #296 "Investigate a workaround for the lack of launch Lifecycle Hooks"
# Github issue #

## Issue type ##

- Feature Idea

## Summary ##

The group lifecycle hooks are not triggered for the spot instances, because they are launched outside the group.

We should try to implement a workaround, perhaps by changing the lifecycle state manually using the `ec2.SetCode` API calls if the group has some lifecycle hooks defined.

We should be careful not to block the launch of

[2018-09-30 05:11] #246 closed

[2018-09-30 05:13] cristim commented on #246
@kaitea this is now available thanks to a contribution by @mrmod.

Please give it a try and report any issues.

[2018-10-04 06:44] xlr-8 commented on #284
@otterley I haven't played that much with lifecycle hooks in ASG, however my understanding of AWS doc [1] is that they can be done via Cloudwatch (among others), which is also something Lambda could be triggered from [2].

Regarding the change of state from `InService` instead of `Pending:Wait` couldn't this be done by a lifecycle hook directly located in the user-data or so?

[1] https://docs.aws

[2018-10-16 08:59] xbglowx commented on #285
I got something working, but need to fix some tests. Once that is done, I will create a PR: https://github.com/xbglowx/autospotting/commit/570193b4d4450228e8231deeee19981b0293d7d2

[2018-10-16 13:47] cristim commented on #285
Thanks @xbglowx!

I'm looking forward for your PR. Let me know if you need any help, I'm most of the time reachable on gitter.im

[2018-10-18 20:14] xbglowx commented on #13
I am currently hitting a problem where cloudformation is doing a rolling upgrade of instances in na ASG while autospotting is trying to replace them. The cfn-signal never makes it back to cloudformation, letting it know to move onto the next instance, since the instance gets rebuilt as a spot before the signal could be sent.

I see two improvements here:

1. Don't let autospotting operate on an AS

[2018-10-19 06:57] cristim commented on #13
@xbglowx You can also just disable autospotting while performing the Cloudformation stack update, by setting the spot-enabled tag to false.

[2018-10-19 07:16] xbglowx commented on #13
This is true, but that would involve three code deployments, I think, which doesn't feel real right to me.

1. Set flag to false on all possibly affected ASGs
1. Deploy cloudformation changes
1. Revert flag back to true on ASGs.

Messing with the ASG flag is also prone to be forgotten by the operator.

Would be cleaner to make the software more aware of any on going changes to ASGs that were not t

[2018-10-19 10:38] cristim commented on #13
That's true, but I don't know if CloudFormation leaves any trace when it's doing changes against the ASGs.

[2018-10-19 11:12] cristim commented on #13
One way to avoid touching the groups during CloudFormation stack updates is to query the status of its CloudFormtation stack, which we can get from the `aws:cloudformation:stack-name` tag set on the groups that are created by CloudFormation.

If the CloudFormation stack is in progress, we can just skip that group in the current run.

[2018-10-22 11:42] palmerabollo opened #304 "Version docker images"
# Github issue #

Would it be possible to **version the [docker images](https://hub.docker.com/r/cristim/autospotting/tags/) with a tag** (x.y.z)? I'd like to avoid using "latest" since it can change without notice, breaking things.

## Issue type ##
- Feature Idea

[2018-10-23 09:09] cristim commented on #304
As any of the provided binaries, they are given for evaluation purposes only and and as per the [binary license](https://github.com/cristim/autospotting/blob/master/BINARY_LICENSE), only Patreon backers only open source contributors are allowed to use them for long term and would be impacted by such changes.

So far none of these categories of users requested this, but I can do it once a Patreon b

[2018-10-24 07:33] palmerabollo commented on #304
Fair enough.

[2018-11-08 09:20] symonds commented on #183
I think this issue can be closed now.

I'm running autospotting against 200 ASG's which all scale up from 0 at the same time every day. Replacing every single instance with autospotting. Max memory 1024, Max Runtime 300s.

No errors in months, Max duration of 42s

[2018-11-08 11:38] cristim commented on #183
@symonds BTW, I'd like to hear about how people use AutoSpotting in the wild, please fill this survey if you have some time: https://www.surveymonkey.de/r/5GYJSJJ

[2018-11-09 11:19] jancurn commented on #153
We hit the same issue. Actually it happens also with on-demand instances, so this is not related to Autospotting. Basically if we want to launch an r3.large instance with two EBS volumes (/dev/sda1 and /dev/sda2), the instance launch fails with `Server.InternalError: Internal error on launch`. When we remove /dev/sda2 volume, the instance launches normally. We're investigating further...

[2018-11-09 11:46] jancurn commented on #153
Boom, I found it. Renaming the volumes to `/dev/sda1` and `/dev/sdb` does the trick. So it seems r3 instances have some issue with naming of the volumes.

[2018-11-09 12:06] cristim commented on #153
Great to see it's not an AutoSpptting issue!

Thanks for the digging and sharing the result.

[2018-11-09 14:58] lenucksi commented on #172
As of current, the aws-sam-local project is marked as supporting Go.
Looks like it started being supported with version [0.2.6](https://github.com/awslabs/aws-sam-cli/releases/tag/v0.2.6).

[2018-11-09 15:10] cristim commented on #172
The same autospotting binary that runs in Lambda can be executed locally and the other way round.

I think the challenge is emulating EC2 resources so that we don't need to actually run them and incur costs, much like the moto library does for Python.

[2018-11-09 16:49] lenucksi commented on #172
I've just looked around a bit and found the following things:
- http://docs.getmoto.org/en/latest/docs/server_mode.html Moto has a mode presenting it's mocked endpoints via HTTP. This combined with https://docs.aws.amazon.com/sdk-for-go/api/aws/endpoints/ might be closer to what we are looking for.
- We'd probably need some bit of Python scripting preparing an expected region full of EC2 instances

[2018-11-09 19:17] cristim commented on #172
That's exactly what I tried to warn against, that the moto mocked resources have different behavior than the real AWS resources they are supposed to mimic, and then we spend time troubleshooting the differences.

But I am open to try it out and see how it goes, but we should keep the option to revert if we then repeatedly run into issues with the moto mocking

[2018-11-14 05:41] sunnynew opened #307 "Feature Request: Flag that optionally sorts the instances as per the list of allowed instance types"
## Summary ##

Would like have a flag that optionally sorts the instances as per the list of allowed instance types, instead of the price (cheapest) like in the current implementation.

This will also allow us to have diversified instance types in single ASG.

[2018-11-16 14:15] lenucksi commented on #307
This is related to #263.
For this, there would be a need to order the instances in some way, after retrieving the list of allowed instances.
One could randomize the order of the instances (below a certain cost threshold) for every run and then attempt to launch from this. A more deliberate sorting by some criterion would be nice, too.

All in all this basically boils down to having diverse launch

[2018-11-28 11:55] bilalmughal commented on #294
@cristim Since [this](https://github.com/powdahound/ec2instances.info/issues/367) ec2instance.info issue has been resolved. Now it should fetch instance info properly.

[2018-11-29 09:14] cristim commented on #294
@bilalmughal thanks for the heads-up, I'll create a new build containing the updated instance type information.

[2018-11-29 09:42] cristim commented on #294
@bilalmughal please give #308 a try, this should add support for all recent instance types.

I think as of now we need to manually blacklist the ARM instance types, before we have a way to distinguish them by some attributes.

[2018-11-29 09:51] bilalmughal commented on #294
@cristim I can not give it a try as of now. I am on stable build in production and can not do it now.

[2018-11-29 10:18] cristim commented on #294
@bilalmughal feel free to take your time, but I'll only merge this once myself or someone else manages to test it and can confirm it  works as expected.

[2018-11-29 22:39] #294 closed

[2018-12-01 19:40] cristim commented on #296
Thanks @earzur for your comment, I totally agree that lifecycle hooks are often useful for many production use cases.

Currently we do support them out of the box when terminating the on demand instances, but unfortunately for the launched spot instances this is a bit tricky,and we don't have a solution for this at the moment.

If we attach the spot instances right away, like you suggested, they w

[2018-12-02 20:35] cristim commented on #296
@earzur no problem, we can also make the PR, as long as you or someone else can hack the code enough to test and determine the actual behavior.

[2018-12-03 09:03] earzur commented on #296
i've been experimenting with this today and my main problem with our current setup (rancher hosts in an ASG, with a container that monitors scale-in events to deactivate the rancher host in the cluster) is that when autospotting takes the decision to move an on-demand instance to spot, it seems to remove the on-demand instance from the ASG before shutting it down. As the lifecycle hooks are specif

[2018-12-03 10:31] cristim commented on #296
Turns out you run an old version, the latest stable versions should work as expected using `terminateInstanceInAutoScalingGroup`. The Terraform module will need to be updated to the latest version.

[2018-12-03 11:02] earzur commented on #296
ah ! that explains a lot ;-) thanks for the kind and helpful support.

[2018-12-03 13:02] earzur commented on #296
[code]

Does that mean i should not trust the terraform registy and run from github ?

[2018-12-03 14:31] earzur commented on #296
i'll host my own repo for the module with an updated zip for the lambda, and sponsor as soon as i get it to run on our systems ;-)

[2018-12-03 14:35] cristim commented on #296
Feel free to pick a recent build from https://cloudprowess.s3.amazonaws.com/index.html

I was told by user that the very last one is broken, but others should work fine.

[2018-12-11 10:55] cristim commented on #263
Fixed in #306

[2018-12-11 10:55] #263 closed

[2018-12-22 15:37] coleca opened #311 "Case incorrect on Docker image for Kubernetes"
# Github issue #

## Issue type ##

- Bug Report

## Build number #

[code]

## Configuration ##

Kubernetes using K8S example

## Environment ##

- us-east-1
- vpc

[code]

## Summary ##

Image not found when launching.  Get an ImagePullFailure

## Steps to reproduce ##

Use the current example K8S example file.

## Expected results ##

Launch Autospotting image

## Actual results ##

Couldn't fi

[2018-12-23 20:53] coleca opened #312 "AutoSpotting ignoring DISALLOWED_INSTANCE_TYPES list"
## Issue type
Bug Report
## Build number
nightly-9c6b2f9
## Configuration
Kubernetes using K8S example

## Environment
us-east-1
vpc

---
[code]

## Summary
Instance types specified in the DISALLOWED_INSTANCE_TYPES don't seem to be getting ignored when AutoSpotting is choosing which type.

## Steps to reproduce
Use the current example K8S example file.

## Expected results
Ignore DISALLOWED_INSTAN

[2018-12-24 11:39] cristim commented on #312
I'm a bit surprised about this, but I will have a look.

The Kubernetes installation method is fairly new and barely tested. Does it behave like this also with the Cloudformation stack?

Also make sure you use the glob syntax `a1.*` not just `a1.`.

[2018-12-24 14:31] coleca commented on #312
I tried the CF stack from the page with the same list of DISALLOWED_INSTANCE_TYPES: `"a1.*,t2.*,t1.*,t3.*,cc2.*,m5.*,c5.*,c5d.*,m5d.*,c3.*,g3.*"`

I haven't seen it launch a t3 yet (but I haven't had the need for it to launch one either), however the messages "Comparing candidate t3..." and "a1" are still there in the CloudWatch logs just as w/the Kubernetes install.

[2018-12-24 14:58] cristim commented on #312
Yes, that's normal to show, but the comparison logic should not allow them to be selected

[2019-01-02 04:22] suuhas opened #313 "AutoSpotting with Elastic Beanstalk environment not spawning instances even with 100% buffer percentage."
# Github issue #
I have tagged my EBS env as per the [EBS_Guide](http://www.boringgeek.com/add-or-update-tags-on-existing-elastic-beanstalk-environments)

## Issue type ##
- Bug Report

## Build number #
nightly-980

## Configuration ##

[code]

## Environment ##

- AWS region
- Type of environment: (VPC, EC2Classic or DefaultVPC)
- Anonymized launch configuration:

[code]

## Summary ##

Hi Team,

[2019-01-02 13:53] cristim commented on #313
Thanks for reporting this.

Troubleshooting support is available for free on a best effort basis for the Cloudformation installation method with the default parameters and the latest Autospotting evaluation version.

Terraform and other installation methods are only supported for the Patreon backers, especially if you run an older version.

Please try the Cloudformation installation method and rep

[2019-01-09 12:37] lenucksi commented on #311
It looks like your PR (#310) fixes this issue? Should we close it?

[2019-01-09 12:54] coleca commented on #311
Yes thanks!

[2019-01-09 12:54] #311 closed

[2019-01-13 19:15] cristim commented on #313
@suuhas are you still facing this issue or can we consider this matter closed?

[2019-01-19 21:55] cristim opened #314 "Support ENA instance type compatibility checks"
# Github issue #

## Issue type ##

- Bug Report

## Build number #

Latest code as of 19 Jan 2019, such as commit 5672b3564ba

## Configuration ##

Default options

## Environment ##

## Summary ##

AutoSpotting would attempt to launch instance types that require ENA even though the AMI and on-demand instances don't support ENA.

This would cause a failure to launch the spot instance of certain t

[2019-01-19 22:01] cristim commented on #314
So far t looks like we need some upstream instance type data that would say whether the current instance type requires ENA support from the AMI.

[2019-01-19 22:14] cristim commented on #314
Requested this data to be added to the instance type database at https://github.com/powdahound/ec2instances.info/issues/409

[2019-02-05 15:02] bfin opened #315 "Feature: multiple lambda instances (with different configurations)"
## Use case ##

Running multiple ASGs with different instance type requirements.

## Problem ##

In the terraform module (at least), several resource names are hard-coded (e.g., function name, role name, policy name) so the module cannot be easily used with multiple configurations.

## Proposal ##

Use variables so the module can be reused with different configurations.

[2019-02-05 16:01] cristim commented on #315
Thanks for reporting this.

I'm aware of this and I would love to see this as well but I am focusing on something else these days.

I've seen a number of forks addressed this issue but unfortunately their authors didn't try to get their work upstreamed yet.

Feel free to pick up one of those, file a PR about it and help getting it through if we need to do any changes.

[2019-02-05 17:25] bi0morph commented on #285
Hey guys!
Are there any updates about supporting the `Launch Template`?

[2019-02-06 10:27] cristim commented on #285
I would love to see this feature land but the PR we had for it still needs some work. If you need this feature feel free to pick it up and help get it through. Thanks!

[2019-02-06 12:20] lenucksi commented on #315
Maybe it'd be an idea to list the forks addressing this here if you can instantly name them without searching a lot?

[2019-02-06 13:12] bfin commented on #315
Currently testing a fork that addresses this. I'm curious: what is the reasoning behind the nested modules? The `terraform` directory contains a module, which references the module in the `autospotting` subdirectory, which in turn references the module in its own `lambda` subdirectory. Usually this structure would be used when each module is reused, but that doesn't seem to be the case here. And a

[2019-02-06 13:20] bfin commented on #315
An implication of the (current) nested module structure is that autospotting can currently be used in either of the 2 following ways:
[code]
or by defining `asg_allowed_instance_types`, etc. instead of `autospotting_allowed_instance_types`, etc. (with the same values)
[code]
But I think this adds more confusion with no additional flexibility.

[2019-02-06 16:34] cristim commented on #315
I'm not very familiar with the terraform code, but I doubt this nested module situation is intentional, maybe we just suck at writing proper/canonical Terraform modules.

Feel free to refractor it according to your proposal, I'm fine with that as long as the main module wouldn't require any changes for all existing users.

[2019-02-06 16:49] xlr-8 commented on #315
IINM the nested structure comes from https://github.com/AutoSpotting/AutoSpotting/pull/224#issuecomment-372130577 - which was odd to me, but sounded like the most adapted - or at least at that time.

Nested module shouldn't be an issue to instantiate multiple lambda, it might however require to make sure everything is uniquely identified with a param (suffix/prefix/env/whatever) to avoid collision

[2019-02-06 18:12] bfin commented on #315
Thanks for the background on the nested modules. And of course, you're right – it's a separate issue. The sub-submodule (`terraform/autospotting/lambda`) module is ok. After addressing the multiple instances here, I'll look into refactoring the `terraform` and `terraform/autospotting` modules.

[2019-02-07 06:20] #315 closed

[2019-02-07 17:50] bfin opened #317 "Conform to terraform standard module structure"
As mentioned in #315 and #316, the `terraform/autospotting` submodule is confusing. Propose restructuring the module to comply with the standard convention and reduce redundancy.

[2019-02-09 07:25] #317 closed

[2019-02-11 14:23] mello7tre opened #319 "Detach instance when spot termination notification is received (#309) - missing permission to invoke lambda"
# Github issue #

## Issue type ##

- Bug Report
## Build number #

master

## Configuration ##

## Environment ##

- AWS region
- Type of environment: (VPC, EC2Classic or DefaultVPC)
- Anonymized launch configuration:

[code]

## Summary ##
The bug is about the new feature "Detach instance when spot termination notification is received ".

CloudFormation template "AutoSpotTerminationEvent" create

[2019-02-12 11:54] mello7tre opened #320 "Lifecycle Hook for ASG of ECS Cluster - Launched unused spot instance"
# Github issue #

## Issue type ##

- Bug Report

## Build number #

master

## Configuration ##

## Environment ##

- AWS region
- Type of environment: (VPC, EC2Classic or DefaultVPC)
- Anonymized launch configuration:

[code]

## Summary ##

I have an ASG that power an ECS Cluster.
I created a lifecycle hook like the one in aws docs:
https://aws.amazon.com/blogs/compute/how-to-automate-container

[2019-02-12 13:59] mello7tre commented on #319
We are missing topic policy too!
https://docs.aws.amazon.com/AmazonCloudWatch/latest/events/CWE_Troubleshooting.html?shortFooter=true#NoMessagesPublishedSNS

Need to create a resource for it, something like (not tested it):

        "SNSTopicPolicyAutoSpotTeminationEventRule": {
            "Type": "AWS::SNS::TopicPolicy",
            "Properties": {
                "PolicyDocument": {

[2019-02-12 14:41] cristim commented on #319
Thank you guys for reporting this, please create a PR with these changes.

[2019-02-12 14:57] mello7tre opened #321 "Terminate unused spot instances"
# Github issue #

## Issue type ##

- Feature Idea

## Build number #

master

## Configuration ##

## Environment ##

- AWS region
- Type of environment: (VPC, EC2Classic or DefaultVPC)
- Anonymized launch configuration:

[code]

## Summary ##

(I have not tested it, but looking at code and using some logic behavior should be similar to the one described here)

It's partially related to the situa

[2019-02-13 10:08] mello7tre opened #322 "Detach instance when spot termination notification is received - event is not from CloudWatch but from SNS"
# Github issue #

## Issue type ##

- Bug Report

## Build number #

master

## Configuration ##

## Environment ##

- AWS region
- Type of environment: (VPC, EC2Classic or DefaultVPC)
- Anonymized launch configuration:

[code]

## Summary ##

In core/spot_termination.go func GetInstanceIDDueForTermination (line 43).

Event is not coming from CloudWatch but from SNS!

Code must be changed to extra

[2019-02-13 11:39] mello7tre commented on #322
Changes to do are deeper:
must be changed Handler func in autospotting.go too

and must be found a way to extract region from sns EventSource or TopicArn.

[2019-02-13 12:19] cristim commented on #322
Thanks for reporting this.

I am aware of this problem, the detachment logic is relatively new and needs to mature a bit.

Please feel free to create a PR with a fix and I would gladly consider it.

[2019-02-13 12:22] cristim commented on #321
Thanks for reporting this issue, it's likely just an edge case we didn't run into yet.

Please try it out and create a PR with the proposed change once you get it work.

[2019-02-13 16:01] mello7tre commented on #322
I have fixed it and tested it publishing directly to sns, with a message like then one sent by the  cloudwatch eventrule.

I will leave it running in my env until an instance is terminated to fully test it.
Then i will open a PR.

[2019-02-13 16:07] cristim commented on #321
I've been thinking about it but I'm not sure if I understand what exactly is the problem with the current implementation. Can you elaborate a bit on this?

[2019-02-13 16:58] mello7tre commented on #321
Currently when a spot instance is launched if AutoScalingGroup, before the next autospot execution (5 min default), for any reason (ScalingPolicy or scheduledaction or manually changes), terminate the ondemand instance that autospot next execution should have replaced, the launched spot instance, that is no more necessary, is not terminated.

One we launch a spot instance we assume that later it s

[2019-02-13 18:25] cristim commented on #321
I see now.

I agree with this patch, as long as it's not impacting the normal workflow for example by terminating a spot instance that was just launched and waiting for the grace period to pass before being swapped against an on demand instance.

[2019-02-14 09:13] mello7tre commented on #321
If for that ASG, at the moment,  there is no need to replace an ondemand instance, there is no need to have a spot instance running (even if it still need to pass the grace period); we cannot know if we will need it in the future and after how much time, so it's better in my opinion to terminate it.

Considering this, i will even invert the condition order:
[code]

will try it in my env, and will

[2019-02-14 15:43] #319 closed

[2019-02-15 07:11] cristim commented on #322
Fixed on #323

[2019-02-15 07:11] #322 closed

[2019-02-15 19:39] cristim opened #326 "Automatically raise the spot instance limits"
# Github issue #

## Issue type ##

- Feature Idea

## Summary ##

I've seen people report in the past that AutoSpotting failed to launch spot instances after running into the default soft limits.

We could automatically handle the limits by submitting support cases for the limit increase when the RunInstances API failed because of the soft limit.

[2019-02-18 19:45] #321 closed

[2019-02-19 07:24] cristim commented on #320
@mello7tre Is this maybe already addressed in #325?

[2019-02-19 08:08] mello7tre commented on #320
Yes i was just going to close it, you has been faster ;-)

[2019-02-19 08:09] mello7tre commented on #320
Event described has not occurred anymore, and anyway now that #325 has been merged, even if it happen again, will resolve automatically.

[2019-02-19 08:09] #320 closed

[2019-02-19 09:47] cristim commented on #320
great, thanks for the fix!

[2019-02-20 10:20] mello7tre opened #327 "Terminating detached spot instance used to replace on demand one"
# Github issue #

## Issue type ##

- Bug Report

## Build number #

master

## Configuration ##

## Environment ##

- AWS region
- Type of environment: (VPC, EC2Classic or DefaultVPC)
- Anonymized launch configuration:

[code]

## Summary ##

Following a spot termination notification, a previously launched spot instance has been detached from ASG, without decrementing ASG desired capacity so that

[2019-02-20 16:16] cristim commented on #327
I think the spot instance may still be outside of the group so the lifecycle hooks wouldn't run in this case.

What if we just delete the "launched-for-asg" tag when handling the spot instance termination notification regardless if the instance is in the group or not?

[2019-02-20 16:33] mello7tre commented on #327
Yes we can delete the tag in spot_termination, before detaching or terminating it.

But i think that we have already all informations when we are attaching it, instead in spot_termination we must execute getAsgName, and if for any reason (temporary problem, timeout etc..) that func return error we are unable to delete it.

About terminating instead of detaching (controlled by parameter):
i have te

[2019-03-01 05:08] #327 closed

[2019-03-06 16:27] mello7tre commented on #13
I am adding that feature, in days will open a new PR.
(it's already working, need only to add tests)

[2019-03-06 18:07] cristim commented on #13
@mello7tre  great to hear that!

Please feel free to create a draft PR even earlier, so se can discuss on the code as early as possible.

[2019-03-06 20:32] runningman84 commented on #13
Btw. we switched to the new mixed instances autoscaling group feature and therefore do not use Autospot anymore.

[2019-03-07 09:41] mello7tre commented on #13
but using mixed instance how are you able to fallback to ondemand if a spot instance fail to run ?
Reading aws documentation, there is no fallback to ondemand.

I made some tests, and can state that when using a mixed config, if a spot instance fail to launch it's NOT launched, as replacement, an ondemand one.
So i think that Autospotting solution is far better.

[2019-03-07 10:59] cristim commented on #13
@mello7tre that's exactly what we also noticed when we tested the AutoScaling mixed spot implementation. We raised a support case and requested this feature about three months ago but it didn't land yet.

At least with AutoSpotting one could take the matter into their own hands and fix it if it's really a dealbreaker.

[2019-03-10 19:07] #13 closed

[2019-03-19 16:57] iainelder opened #331 "AutoSpotTerminateEvent enters CREATE_FAILED outside us-east-1"
# Github issue #

AutoSpotting is failing to create all its components in my AWS account.

The "delegate" AutoSpotTerminationEvent stack fails to create in all regions apart from us-east-1.

Our active region is us-west-2, so I really need AutoSpotting to work there.

## Issue type ##

- Bug Report

## Build number #

[code]

## Configuration ##

To install AutoSpotting, I used the command from th

[2019-03-20 19:59] cristim commented on #331
Thanks for reporting this. I've been aware of this for a few days and I'm already working on a fix.

I'm just struggling a bit with the complexity recently introduced in our CloudFormation template code in order to support this feature. So I'd like to first tackle this to make the CloudFormaiton stack more maintainable(hopefully some parts of this will also be reusable from Terraform) and then add

[2019-03-21 17:27] iainelder commented on #331
Just out of interest, why is the delegate stack AutoSpotTerminationEvent required?

[2019-03-21 20:29] cristim commented on #331
The termination events are regional and need to be captured in each region.

Then we need to invoke the main Autospotting Lambda function which runs in a single region.

The problem is the events can't trigger a Lambda function from a different region.

My idea so far is to create a regional Lambda function that would be triggered by the event and then it should be able to call the main Lambda fun

[2019-03-22 12:15] iainelder commented on #331
Have you considered using [StackSets](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/stacksets-concepts.html)?

That might avoid the problem of communication across regions, and of splitting the solution into multiple stacks.

With that, an instance of the main AutoSpotting stack could be automatically installed in each region, and that stack would include the resources of the Auto

[2019-03-22 12:22] iainelder commented on #331
One problem. It requires hosting the AutoSpotting binary in all regions.

If that infrastructure could be provided by this project, it could be done using cross-region replication from the main S3 bucket.

Otherwise, then a scripted solution to set it up in each user account would probably be necessary.

[2019-03-22 15:14] iainelder opened #332 "AutoSpotting can cause client stack deletions to fail"
## Issue type ##

- Bug Report

## Build number #

[code]

## Configuration ##

Default settings

## Environment ##

- Region: us-west-2
- Type of environment: DefaultVPC
- Anonymized launch configuration: Not relevant

## Summary ##

AutoSpotting can cause the deletion of a client stack to fail.

A client stack is any whose ASG has the spot-enabled=true tag.

When a client stack is deleted, one o

[2019-03-22 15:17] iainelder commented on #332
This is a tricky edge case.

It is most likely to affect development and testing environments, where stacks are set up and torn down regularly.

As it theoretically affects all client stacks, it would be great to have a standard solution.

I don't see any obvious way to solve it on the AutoSpotting side.

Maybe it can be solved with some sort of pre-delete hook on the client side.

[2019-03-22 18:43] cristim commented on #332
Maybe there is an event emitted when deleting Cloudformation stacks, which we can use to find such stale spot instances so we can terminate them.

We would find all the Autoscaling groups belonging to the terminating stack (they are tagged with the stack name) then we can get the unattached spot instances launched for this group and we can terminate all of them, maybe after removing all the securi

[2019-03-25 08:51] thorro opened #333 "Use max of instance type per ASG"
## Issue type ##

- Feature Idea

At the moment, cheapest spot instance is used, which is fine. Issue arises when AWS reclaims one instance type, then all of those instances can go away at the same time.

We are willing to sacrifice some cost savings by diversifying instances more.

A new setting could be defined as:

- max_instances_of_same_type = number or percentage

So AutoSpotting would only

[2019-03-25 09:29] cristim commented on #333
@thorro Thanks for reporting this issue.

We used to have such a feature hardcoded into the logic, automatically switching the instance type if more than 20% of the instances were in the same AZ/type combination and would be outbit if the spot price is increased.

About a year ago we removed that because AWS is not only terminating all the instances at once, but randomly claiming instances from a

[2019-03-25 09:57] thorro commented on #333
Hi @cristim

I don't have that much experience with this, as we don't run that many spot instances yet.

About five days ago AWS terminated all 3 instances of the same type in one ASG. I think they were all t3.2xlarge.

But I've noticed just on friday AWS terminated one spot instance of i3.4xlarge type, other four kept running.  So this looks more like the case you describe.

I think it may depend

[2019-03-25 10:34] cristim commented on #333
Considering how the spot market works we can't exclude such scenarios, especially for popular instance types where there may be a lot of churn. Did your group lose all the capacity before any new instances were started?

It's definitely better to be prepared for this if possible, and as I said we can have this brought back if enough people complain about it.

As for the code, have a look around he

[2019-03-25 10:59] thorro commented on #333
That ASG lost all capacity, luckily for us it was not a production workload.

Hope some more people chime in. Thanks for the code pointer, will brush up on my Go skills. :)

[2019-03-25 19:30] iainelder commented on #332
It appears so. The [create-stack](https://docs.aws.amazon.com/cli/latest/reference/cloudformation/create-stack.html) and [update-stack](https://docs.aws.amazon.com/cli/latest/reference/cloudformation/update-stack.html) commands have a `--notification-arns` parameter that allows you to specify a list of SNS topics that receive state change notifications.

@mbejda's blog article [Handling AWS Cloudf

[2019-03-25 19:50] cristim commented on #332
Yes, I've seen that article and looks promising.

I'm working to anyway add a regional lightweight Lambda function and we already have Cloudformation stacks in each of the regions.

We just need to extend them a bit with the regional SNS topic and to make sure the Lambda functions update all the existing stacks to send notifications to the regional topics.

This is a bit of work but it's definitel

[2019-03-27 13:38] iainelder commented on #332
It's not a high priority for my team. We can work around it manually when we delete stacks by terminating the unattached spot instance, if it exists.

Now that it's documented here, others affected by the problem can refer to this ticket.

If enough users are bothered by it, we could implement the fix you describe.

[2019-03-27 17:49] cristim commented on #332
Alternatively we can also terminate all spot instances launched for a given group if the group is no longer available

[2019-03-27 18:06] cristim commented on #331
Exactly, I didn't want to maintain buckets in all the regions, and also the unified logging makes it easier for me to test.

But users can store the binaries in their own buckets in any region they have infrastructure in and deploy it there and only restrict it to the current region. This is a relatively simple solution.

But I already have a fix for the current architecture, I just added a region

[2019-03-27 18:55] iainelder commented on #332
That sounds like a good thing to do anyway, as a safeguard against orphaned instances.

[2019-03-27 19:37] iainelder opened #335 "Launches extra instance after all replacements, orphans it"
# Github issue #

## Issue type ##

- Bug Report

## Build number #

[code]

## Configuration ##

Launched with default settings.

Execution frequency of 1 minute.

Command line flags from CloudWatch Logs:

[code]

## Environment ##

- AWS region: us-west-2
- Type of environment: DefaultVPC
- Anonymized launch configuration: Not relevant

## Summary ##

AutoSpotting launches one more instance than

[2019-03-27 19:47] iainelder commented on #335
Could this have something to do with the load balancer's connection draining?

We are using application load balancers (ALBs). They have a default [connection draining time](
https://docs.aws.amazon.com/es_es/elasticloadbalancing/latest/APIReference/API_TargetGroupAttribute.html) of 300 seconds.

Could the delayed termination of the instance by why AutoSpotting decides to launch an extra instance?

[2019-03-27 20:22] mello7tre commented on #331
AWS and CloudFormation do support cross-region sns subscription but need a separate Subscription CloudFormation Resource.
Currently Autospotting is creating the subscription directly in the Topic resource using the Subscription parameter, that way is not possible to specify the region.
====
https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-sns-subscription.html?shortFoote

[2019-03-27 21:44] cristim commented on #331
Thanks @mello7tre I wasn't aware of this but I will definitely check it out.

[2019-03-27 21:53] cristim commented on #335
I also suspect the load balancer draining, and as a workaround I would recommend to set the execution frequency longer than the draining period.

I agree that we should terminate the orphaned instance, just like we also discussed in the other issue about the stack deletion spot orphans.

[2019-03-28 09:12] lenucksi commented on #335
The other issue would then likely be #332.

[2019-03-28 10:17] cristim commented on #331
@mello7tre if I read that correctly it means the topic has to be in the other region from the current stack.
I think what we need instead is that the Lambda function is in another region, unless we do this from the stack where we have the Lambda, but then we need to be aware of all the topics from the central stack that creates the main Lambda function.

The current implementation in #334 has the

[2019-03-28 12:02] cristim commented on #331
@iainelder, @mello7tre, please have a look at #334 and let me know if you have any concerns. Also it would be great if you could test it on your side. I'm also in the process of testing it but any help would be welcome.

[2019-03-28 12:12] iainelder commented on #335
We will try the workaround. It seems like the smallest safe execution frequency would be 6 minutes.

Would it make sense for AutoSpotting to detect connection draining? I think you can detect it using the [`aws elbv2 describe-target-health`](https://docs.aws.amazon.com/cli/latest/reference/elbv2/describe-target-health.html) API, although I haven't tried it.

[2019-03-28 12:32] cristim commented on #335
Increasing the frequency shouldn't make much difference, this is only noticeable you have very large groups. For long running instances you would maybe waste a few minutes of on-demand time, which is negligible if you run instances for days or weeks.

Regarding the connection draining handling, we could with not so much effort skip on-demand instances that are currently being drained.

The LoadBal

[2019-03-28 14:26] mello7tre commented on #331
You are right.

I have looked at the draft PR.
If i understand correctly the logic, you are creating another lambda that, when invoked, trigger the main one.
That other lambda is created in every configured region, so that the sns regional topic trigger it.
This way you circumvent the problem of the cross region between sns and lambda.

I have investigated some more the problem with the current te

[2019-03-28 16:24] cristim commented on #331
Thanks, I'll try to simplify it further if this works

[2019-03-29 09:41] mello7tre commented on #331
Sometimes i hate AWS!
Using `"arn:aws:sns::${AWS::AccountId}:AutoSpotTerminationEvent-AutoSpotTerminationNotificationTopic-*"` for SourceArn create successfully permissions, and you can see them in lambda web UI too, but if i publish a message to the Topic it does not work!

Debugging Topic, configuring "Delivery status logging", show an error about Topic not having permission to invoke lambda!

E

[2019-04-01 12:54] mello7tre commented on #331
just for confirmation:
found an hidden AWS info that confirm observed behavior:
https://docs.aws.amazon.com/lambda/latest/dg/with-sns-example.html?shortFooter=true#with-sns-create-x-account-permissions
[code]

[2019-04-08 11:34] #331 closed

[2019-04-12 14:57] cristim commented on #333
@ChienHuey just volunteered on Github to implement this as part of a hackathon.
A few things I mentioned that may make it a bit more challenging

[2019-04-28 13:26] cristim commented on #335
@iainelder are you still having issues with this, or did you get it work?

Please reopen if you are still struggling with this.

[2019-04-28 13:26] #335 closed

[2019-04-28 13:34] cristim commented on #293
We recently started to iterate over the compatible instance types and attempt to launch each of them until we succeed launching one.

I think this should mitigate this issue, so I propose we close this issue.

But please reopen it if you can still reproduce it with a more recent build.

[2019-04-28 13:34] #293 closed

[2019-04-28 13:39] cristim commented on #313
This should be addressed in the latest versions.

I'm closing this issue but feel free to reopen if you can still reproduce it with a recent build.

[2019-04-28 13:39] #313 closed

[2019-04-28 13:41] cristim commented on #314
This should be addressed in the latest version, we now simply try to launch another instance type in case of launch failures like caused by such incompatibilities.

[2019-04-28 13:41] #314 closed

[2019-04-28 13:45] cristim commented on #312
This seems to be a non-issue, we just log all the instance type comparison operations, but the subsequent compatibility evaluation seems to correctly  rule out the disallowed instance types.

[2019-04-28 13:45] #312 closed

[2019-04-28 13:51] cristim commented on #243
We now have a Dockerfile and Docker compose configuration for a  standardized build image. We already use it for the TravisCI builds.

[2019-04-28 13:51] #243 closed

[2019-04-28 13:59] cristim commented on #173
I'm  constantly refactoring the code, pretty much  whenever I have a larger feature that touches a lot of code I try to also change the surrounding areas.

I think we had a couple of large refactorings ever since this issue was raised.

[2019-04-28 13:59] #173 closed

[2019-04-28 14:01] cristim commented on #180
I'm working on something like this in preparation for a  new feature that touches this area. Stay tuned.

[2019-04-28 14:21] lenucksi commented on #243
Nice :D

[2019-04-28 14:33] lenucksi commented on #293
Details should be available in #306 and #263 I think.

[2019-04-28 14:36] cristim commented on #155
I think this is now doable using the instance termination protection or scale-in protection. Autospotting will not replace any such protected instances

[2019-04-28 14:36] #155 closed

[2019-04-28 15:02] cristim commented on #133
We recently added support for this, further implementation for launching new spot instances should be raised in another issue.

[2019-04-28 15:02] #133 closed

[2019-04-28 15:40] cristim commented on #67
I haven't seen anyone else ask for this, I'll close it for now but we can reopen it if there's anyone else interested in this.

[2019-04-28 15:40] #67 closed

[2019-05-15 08:01] cristim opened #343 "Detect configuration drift between the group and the new spot instance when attaching it to the group"
# Github issue #

## Issue type ##

- Feature Idea

## Summary ##

It was reported that Beanstalk environments sometimes detect version mismatch between the new spot instance and other existing instances.

Before attaching the spot instance, we should check if the instance configuration matches the other instances in the group.

If the instance is no longer identical to the group
- try to patch th

[2019-05-18 08:23] kapilt commented on #332
Rather than watching cfn stacks, why not track cwe trail for delete asg, and cleanup on in progress activities for the named asg. Ie this issue isn’t per se cfn specific.

[2019-05-18 10:20] cristim commented on #332
That's a great idea, thanks!

We already have the infrastructure in place to listen for these events, we just need to create an event rule and a handling logic

[2019-06-01 22:22] cristim commented on #285
I just updated #303 which should properly add support for launch templates, but didn't test it yet since I don't have such a setup.

Can anyone test this?

[2019-06-02 18:19] #285 closed

[2019-06-02 18:22] cristim commented on #285
Closing after someone confirmed the code change in #303 fixes this issue.

[2019-06-03 10:41] rezmuh commented on #285
@cristim I'm having issue with Launch template as well. If I installed autospotting just by installing evaluation binaries (through https://bit.ly/AutoSpotting), does it include #303 ? Thanks

[2019-06-03 11:49] cristim commented on #285
@rezmuh yes, the current evaluation binaries should work, but please let me know if you notice any issues.

[2019-06-03 12:32] rezmuh commented on #285
@cristim i just reinstall autospotting using evaluation binaries but it doesn't seem to work, still.

Previously, I could see the logs in CloudWatch and would be able to see the same errors as the OP stated. However, after I re-installed it, I didn't see any logs created in cloudwatch.

Also, I am using opt-out if that helps.

[2019-06-03 12:41] cristim commented on #285
Thanks, but to me that looks like an unrelated bug.

Please report it on another issue with all the required information and I may look into it within the next weeks.

[2019-06-04 13:42] jawadst opened #344 "Beanstalk initialization issue after CloudFormation update on 5/30/2019"
## Issue type ##

- Bug Report

## Build number #

build nightly-1038

## Environment ##

eu-central-1c with Beanstalk / ECS / EC2

## Summary ##

Autospotting used to work perfectly with Beanstalk and I was a happy man.
The Beanstalk setup is the following: it uses CloudFormation to create an auto-scaling group. When an EC2 instance is launched by the auto-scaling group, it uses `cfn-init` (https

[2019-06-04 15:09] cristim commented on #344
Thanks for reporting this issue, having Beanstalk support a very critical feature, and I have a few ideas for how to tackle it without patching the userdata:

- intercept any instance launches for the groups maintained by Autospotting, immediately launch a spot replacement and swap it against the fresh on demand instance, which is then terminated. This way the spot instance would be part of the gr

[2019-06-04 15:55] jawadst commented on #344
Good ideas and thanks for spending some time on this.

#1 seems to have the drawback that if, for any reason, the spot instance fails, the on-demand won't be there anymore. I think a great strength of autospotting is that you only remove the on-demand once the spot has been fully validated and is in service. It provides for a very solid fallback to on-demand instances when things go south and feel

[2019-06-04 20:31] TheFynx opened #345 "LaunchTemplate: InvalidParameterCombination Error"
# Github issue #

Originally mentioned here: https://github.com/AutoSpotting/AutoSpotting/issues/285#issuecomment-498236986
But individual was directed to open a Github Issue, did not see one.

## Issue type ##
- Bug Report

## Build number #

[code]

## Configuration ##

Settings passed to Lambda Environment
[code]

## Environment ##

- AWS region: us-east-1
- Type of environment: VPC
- Anonymize

[2019-06-04 21:23] cristim commented on #345
Thanks for reporting this issue.

Please post the anonymized details of the launch configuration, launch template and also the output of the describe instances command against one of the on demand instances that fail to be replaced.

[2019-06-05 13:40] akumria opened #346 "Client.InvalidParameterCombination"
# Github issue #

## Issue type ##

- Bug Report

## Build number #

[code]

## Configuration ##

Unknown to me, being run by the organisations Cloud team

## Environment ##

- AWS region: us-west-2 but also seen in other regions
- Type of environment: VPC
- Anonymized launch configuration:

[code]

## Summary ##

AutoSpotting fails to launch as it miscombines parameters, from AWS:

[code]

## Ste

[2019-06-05 13:48] akumria opened #347 "Please stop hitting AWS API limits and implement retry and/or exponential backoff"
# Github issue #

## Issue type ##

- Bug Report

## Build number #

[code]

## Configuration ##

Unknown to me, being run by the organisations' Cloud team

## Environment ##

- AWS region: us-west-1 but observed in all
- Type of environment: VPC
- Anonymized launch configuration: n/a

## Summary ##

Unfortunately, the when AutoSpotting encounters a problem (e.g. #346 or #345) is will retry.

Very

[2019-06-05 14:55] cristim commented on #346
Thanks for reporting this issue, are you by any chance using Launch Templates? This feature is relatively new and still experimental, it just landed a few days ago and someone already revealed some issues

I suspect that one of either the Name or the ARN come from the launch template, and the other from the launch configuration.

As a potential fix we could check if both of them are set when we pr

[2019-06-05 14:56] cristim commented on #345
Please have a look at the proposal I mentioned in #346, may work for this as well.

[2019-06-05 15:14] cristim commented on #347
Thanks for reporting this.

The retry loop will by default run over the entire list of compatible instance types in case of any kind of error while launching the current one.

The idea is to capture any sort of launch issues and move on to try another one until succeeding, which is useful when skipping instances with bad spot market conditions and also in some cases when some instance types fail t

[2019-06-05 15:20] akumria commented on #346
Yes we are using LaunchTemplates.

Unfortunately the team responsible for deploying AutoSpotting were unaware that Launch Template support is very new; that may be worth highlighting more broadly.

I did, briefly, consider contributing however the differing licences between source and binary make this a non-starter for me.

[2019-06-05 17:59] cristim commented on #346
Okay, please bear with me with the LaunchTemplate support, I hope we'll sort out these kinks soon.

Regarding the license, the source code is licensed under the MIT license. This means that anyone can have closed source forks and/or release closed source binaries based on this MIT code.

I know of a startup who built their entire product based on this code and another who enhanced their existing p

[2019-06-10 18:31] cristim opened #348 "Stop or hibernate on-demand instances instead of terminating them."
# Github issue #

## Issue type ##

- Feature Idea

## Summary ##

Stop or hibernate each on-demand instance instead of terminating it, and then restart/resume it when a spot instance from the same AZ is being terminated.

This way we'll be able to quickly recover in case the spot instances inadvertently caused any sort of downtime, and also hopefully don't lose any capacity when the spot instance

[2019-06-11 04:27] tbutkiewicz commented on #344
You can sidestep mucking with adding the role to the cfn script by updating the instance profile/role assigned to your EC2 instances.  Either way, you are granting access from the instance to the stack.

Although not _truly_ least privileged, adding something like this will match Beanstalk CF stacks so AutoSpotting can still do its thing:
[code]
You can further restrict it as necessary - Hope that

[2019-06-11 14:28] jawadst commented on #344
@tbutkiewicz
Thanks for the idea. Unfortunately, the `cfn-init` script specifically does not rely on the instance profile/role and uses a special authentication method that is specific to CloudFormation and authenticates the instance from its tags.
The way to tell the `cfn-init` script to use the instance role is by modifying the way it's called which is the tricky part with Beanstalk.

[2019-06-11 15:22] manfredlift commented on #147
Any updates on this? We frequently encounter this issue for `p3.2xlarge` instances.

[2019-06-11 16:06] JerimyTate commented on #344
@jawadst are you just updating the userdata manually or did you make changes to autospotting to make these changes on your behalf?

[2019-06-11 17:59] jawadst commented on #344
@JerimyTate I haven't had a chance to try out any solution yet :)
I guess forking/updating AutoSpotting would be the easiest option to patch the UserData on the fly when there is a cfn-init script involved.

[2019-06-11 18:02] gamefundas opened #349 "Fails to connect to aws autoscaling service - No host error"
I am getting the following error when the lamda runs

Post https://autoscaling.us-east-1.amazonaws.com/: proxyconnect tcp: dial tcp: lookup proxy on 169.254.169.253:53: no such host

could this be a proxy configuration issue?

I have set the following environment variables for lambda

HTTP_PROXY=http://myproxy:port
HTTPS_PROXY=https://myproxy:port
NO_PROXY=169.254.169.254

Am I missing something.

[2019-06-11 18:24] JerimyTate commented on #344
Yeah we were hoping to give this a test run, but until I figure out how to patch in UserData not going to work for us unfortunately. I've tried to look through the code, but not seeing where the existing UserData is set. @cristim any help to get us pointed in the right direction?

[2019-06-11 18:31] tbutkiewicz commented on #344
The update to IAM permissions does work, and has been working with success since 5/30 with Beanstalk baked cfn-init scripts from Beanstalk AMIs/SolutionStacks.  cfn-init will inherit permissions granted by instance role just like other scripts on the EC2 instance.  Although cfn-init documentation does specify how to manually use a IAM role when running the script, this approach works as well.

It

[2019-06-11 19:04] cristim commented on #344
Have a look around line 553 in https://github.com/AutoSpotting/AutoSpotting/blob/master/core/instance.go

[2019-06-11 19:07] cristim commented on #349
Try to run the Lambda outside your own VPC and unset those variables

[2019-06-11 20:28] gamefundas commented on #349
Thanks @cristim

I managed to get it running by adding the Route53 DNS IP also to the no_proxy list. It seems to be working now.

[2019-06-11 20:28] #349 closed

[2019-06-11 23:12] gamefundas opened #350 "Check for cheaper instances and allocate at less periodic interval"
I just configured the project and this sounds fantastic compared to spot fleets which are harder to configure or at least isnt configuration less like AutoSpotting.

Now I did go through the FAQ about this and do see the mention of this not being supported but I guess you have all the building blocks to make it work if needed. Why not at a configurable frequency on the AS group level allow for che

[2019-06-12 02:31] cristim commented on #349
Great to hear, but I haven't seen anyone else need to do this. Do you have any particular setup?

[2019-06-12 02:49] cristim commented on #350
Thanks for your request.

This is no longer a problem, since AWS introduced the fixed pricing the prices are pretty much flat.

Nevertheless, we do have the aggressive bidding policy which can be used to detect price increases, by default over 10% since the instance was launched.

[2019-06-12 03:20] gamefundas opened #351 "Lambda keeping erroring out after successfully converting few instances"
I am receiving the following error for all remaining instances after successful conversion of 12 of them.

Its not clear what is causing the error besides the line above being printed repeatedly after it finds a spot instance to replace.

[2019-06-12 03:43] gamefundas commented on #351
These are most likely because of service limits, Max no of Spot instance requests on the VPC. Found some errors in Cloud trails that pointed me to this. Will get rid of the limits and try again.

[2019-06-12 05:42] gamefundas commented on #350
@cristim but I am referring to a situation where a cheaper spot instance is now available since the last time Autospotting allotted one. It doesnt look like Lamda will every check an existing spot instance to see if a better rate is available than the one that was found earlier.

[2019-06-12 05:43] gamefundas commented on #349
I was trying to run this within my VPC and hence had to make sure that I have the right proxy configuration for Lambda to communicate with AWS service url's.

[2019-06-12 05:47] gamefundas commented on #335
@cristim I noticed this happening in my VPC. Duplicate (both normal and spot) instances running together. Had to eliminate one of them manually. This happened even for cases where AS was configured to run only one node.

[2019-06-12 06:10] gamefundas commented on #351
This is resolved but now I get the following error in some cases. Seems like #335 is the cause of this error as I noticed duplicates in my VPC as well

Error while switching normal instance to spot instance.
"Provided Load Balancers may not be valid. Please ensure they exist and try again."

[2019-06-12 07:43] cristim commented on #350
Indeed, it doesn't actively seek to replace the current instances with the cheapest available, but using the aggressive bidding policy you can get roughly the same results.

The spot instances that got 10% more expensive will be terminated by the market when the bid price is exceeded, the group will launch a replacement on demand instance that is going to be replaced by AutoSpotting with the curre

[2019-06-12 08:52] cristim commented on #351
That's a strange error, never saw it before.

Please provide the full logs for a run, with any critical data anonimized.

[2019-06-12 09:11] cristim commented on #335
The duplication is normal during the grace period of the spot instances, we have seen cases of stale spot instances after scaling în but it should be handled by the current implementation.

Other cases may be for deleted ASGS, but for those we don't have cleaning logic in the current implementation. Patches for this would be very welcome.

[2019-06-12 09:14] cristim commented on #349
O never tried to run it within a VPC, I guess it should work if you have outbound network connectivity from the VPC using a NAT gateway or IGW

[2019-06-12 18:04] gamefundas commented on #351
Many of them are failing to get rid of the old instances due to the load balancer error. Strangely AutoSpotting logs dont indicate any errors. The problem is that terminate instance fails behind the scenes with the load balancer error.

019/06/12 17:23:55 region.go:377: Stack: my-app
2019/06/12 17:23:56 region.go:385: Enabling group my-app-AppServerAG-LH6DXXXTGS4I for processing because its tags,

[2019-06-12 18:38] cristim commented on #351
Thanks for the clarification.

AutoSpotting doesn't directly handle the load balancer membership, it's done under the hood when using the attach/detach/terminate API calls. And for those we have the right permissions.

I have no idea what would make this fail, except perhaps for API throttling or internal AWS issues.
Can you still reproduce it with a new group?

Try to create an AWS support reques

[2019-06-12 19:07] gamefundas commented on #351
Makes sense. Will reproduce and then contact AWS support for an explanation on this.

[2019-06-12 20:18] cristim commented on #344
Do you guys need any help with this? Patching the userdata script in a quick and dirty fork should be pretty straightforward, I can help if you are struggling with this.

The most challenging part is addressing this properly in a way that can be merged into the upstream repo.

[2019-06-13 03:23] gamefundas commented on #350
@cristim thanks for the explanation. Have couple of other questions around AutoSpotting behavior, hope I didn't miss reading in the docs or faq.

1. In case if I already have spot instances/fleet running through cloud formation then will Auto Spotting do anything to those or will simply ignore them because they are already spot instances.

2. What if I tag these spot instances as spot-enabled=true

[2019-06-13 04:25] cristim commented on #350
AutoSpotting only works with instances in Autoscaling groups, not for individual instances or spot fleets. The spot-enabled tag is supposed to be set on the group and doesn't have to be propagated to the instances.
The aggressive policy is only a matter of automatically setting the spot bid price to current price +10% for the spot instances launched by AutoSpotting itself. The bid price for instan

[2019-06-13 13:24] cristim commented on #351
Thanks, please keep me posted with the results.

[2019-06-13 14:24] cristim commented on #350
No, there's no functionality for that at the moment but it would be nice to have, thanks for the idea.

We're actually also in the process of doing this type of vertical scaling exercise and we have a tool able to come up with an instance type recommendation based on a Machine Learning model, we may integrate this into AutoSpotting at some point.

[2019-06-13 18:49] gamefundas commented on #350
@cristim may be a little intrusive measure for now but is there any way AutoSpotting can be retriggered through some other action. I was thinking perhaps if I find instances in an autoscaling group under/over utilized for x no. of days on stretch then I can set the desired instance in ASG to zero, which will get rid of all the instances, then set "autospotting_allowed_instance_types" to a lower or

[2019-06-13 19:18] cristim commented on #350
I've also been trying to articulate this. I doubt it's doable with the current implementation but it should not be so hard to do, assuming that we have a good ML model that can suggest good instance types for the current group.

The way I would likely do it is to have another ML-powered tool generate and later maintain the allowed instance types override tag set on each group, but only using exact

[2019-06-13 20:37] gamefundas commented on #350
Like the overall approach. With respect to picking the new instance type, some kind of prioritization can be employed to get the nearest match (lower or higher depending on scaling up or down) and then use that instance type for bid price as now we are bound to operate the cluster with that instance.

The old instance was deemed to be unfit and hence the reason for switch. In this case its possibl

[2019-06-14 15:43] JerimyTate commented on #344
@tbutkiewicz so was able to recreate your fix and it does work! I think you actually need to only add
[code]
so adding something this below would be more in line with least privilege
[code]

[2019-06-14 18:10] cristim commented on #344
Thanks guys, please create a PR with a documentation fix.

I guess it would also be possible to automatically inject this statement into the IAM instance profile attached to instances belonging to these Beanstalk Cloudformation stacks.

Would you find this valuable?

[2019-06-14 18:17] jawadst commented on #344
@JerimyTate
How did you validate that it worked? Do you not see a 400 error in the system logs anymore?
I have tried that solution and have not been able to make it work so maybe I did something wrong.

[2019-06-14 18:46] JerimyTate commented on #344
@jawadst We added following IAM permissions to our existing beanstalk role
[code]

[2019-06-14 19:03] jawadst commented on #344
@JerimyTate
Thanks for the info. To be clear, the issue does not prevent AutoSpotting from working, it makes the setup of the instance slower and sometimes fails randomly but it still works most of the time.
The reason is that once AutoSpotting attaches the spot instance to the autoscaling group then `cfn-init` works correctly and the instance continues its setup process after that happens. The in

[2019-06-14 19:59] JerimyTate commented on #344
@jawadst so I could confirm you are correct we are still seeing these errors on bootstrap, but I have yet to see the intermittent failures, but it does look like a userdata solution will be required

[code]

[2019-06-14 21:06] gamefundas commented on #350
I am unable to reproduce this now. Its possible someone tampered with the ELB's from the console that  drifted the instances in some way causing the problem. Will keep a watch on this if it happens again. For now lets close this issue.

[2019-06-14 21:44] gamefundas commented on #351
I am unable to reproduce this now. Its possible someone tampered with the ELB's from the console that  drifted the instances in some way causing the problem. Will keep a watch on this if it happens again. For now lets close this issue.

[2019-06-15 04:55] cristim commented on #351
Thanks!

[2019-06-15 04:55] #351 closed

[2019-06-16 12:22] lenucksi commented on #350
I guess I've read some discussions on prioritization of instance types. Some revolved mitigating around risk involved in launching newer instance types leading to problems with images optimized to older instance types.

Currently the launch list is just filtered for compatibility and sorted by price. One could introduce (an) additional sort factor(s) / weighting of compatibility factors (or other

[2019-06-27 15:33] cristim commented on #346
Maybe sightly related to this, I've just implemented support for skipping ASGs with mixed instances(the AWS native on-demand+spot support for ASGs), previously we were attempting to replace their on-demand instances and likely entering race conditions.

I'm now ready to help with this LaunchTemplate issue but need some information on how to reproduce this problem.

[2019-06-28 04:38] cristim commented on #345
@TheFynx please provide the required information in order for me to be able to reproduce this and hopefully come up with a fix.

[2019-06-28 08:43] #346 closed

[2019-06-28 08:44] cristim commented on #346
This should be fixed in the latest version, please give it a try and let me know if you still notice any issues.

[2019-06-28 10:47] cristim commented on #345
@TheFynx please test the code I submitted in #352, it should address your issue.

[2019-07-01 09:35] cristim commented on #285
@rezmuh, your issue should be addressed in #352, please test that and let me know if you still notice any failures

[2019-07-01 15:54] rezmuh commented on #285
@cristim how do I test that? it doesn't look like it's in the nightly build yet, is it?

[2019-07-01 17:27] #345 closed

[2019-07-01 17:28] cristim commented on #285
@rezmuh try again in a few minutes

[2019-07-09 19:02] cristim commented on #332
Addressing this is the next thing on my agenda, I expect it to be fixed within the next few weeks.

In the meantime, as a workaround to avoid this from happening again, right before the deletion of the CloudFormation stack you can run the AutoSpotting Docker container from the CLI to delete any unattached spot instances for the current group:

`docker -e AWS_ACCESS_KEY_ID -e AWS_SECRET_ACCESS_KEY

[2019-07-10 14:50] au-99 opened #353 "Failing to launch any spot instances due to EBS throughput insufficient"
# Github issue #

## Issue type ##
- Bug Report

## Build number #

Custom build
[code]

## Configuration ##

autospotting_allowed_instance_types = "c4.xlarge"

## Environment ##

- AWS region
ap-south-1
- Type of environment: (VPC, EC2Classic or DefaultVPC)
VPC
- Anonymized launch configuration:

[code]

## Summary ##

We have autoscaling group with c5.xlarge instance type. We have enabled autosp

[2019-07-10 18:39] cristim commented on #353
Thanks for reporting this issue but I am not offering support for custom builds, unless you are subscribed for a dedicated support plan.

Are you able to reproduce this with the latest nightly build?

[2019-07-11 10:22] au-99 commented on #353
Same result with the latest build

[2019-07-15 09:37] cristim commented on #353
Thanks for checking this in the latest build.

As per the below screenshot of ec2instances.info it turns out that C4 has less throughput than C5, as well as slightly less memory:

![image](https://user-images.githubusercontent.com/95209/61206795-bc6c7900-a6f3-11e9-8495-c5b593e44637.png)

At the moment AutoSpotting is considers both these parameters and a few others, and only allows you to launch i

[2019-07-15 10:16] cristim commented on #160
We now have a way to clean up unattached spot instances, leveraging the relatively recent cron schedule functionality:

`docker -e AWS_ACCESS_KEY_ID -e AWS_SECRET_ACCESS_KEY run autospotting --cron_schedule_state off --tag_filters tag-matching-your-group=tag-value`

[2019-07-15 10:16] #160 closed

[2019-07-15 10:20] cristim commented on #353
Looks like a duplicate of #206, let's continue the conversation there.

[2019-07-15 10:20] #353 closed

[2019-07-15 10:25] cristim commented on #147
@xlr-8 do you think we should close this issue?

[2019-07-15 10:32] cristim commented on #118
This is now relatively easy to do using the infrastructure we already have in place to listen for instance terminations. I'll work on this next.

Once done it should also help with #156, #284, #332 and #343

[2019-07-15 10:54] cristim commented on #44
I think we can close this now, as we now have pretty good test coverage.

[2019-07-15 10:54] #44 closed

[2019-07-15 10:58] cristim commented on #8
We do have the EBS optimized throughput, I and as far as I can tell the EBS optimized MaxBandwidth can be mapped 1:1 to the throughput.

[2019-07-15 11:01] cristim commented on #78
This no longer makes much sense, as the market prices are now stable

[2019-07-15 11:01] #78 closed

[2019-07-15 11:02] cristim commented on #61
we do have two levels of logging: debug and normal.

Additional levels can be added with relatively little effort but I think we're good for now.

[2019-07-15 11:02] #61 closed

[2019-07-21 18:38] chaud commented on #105
It looks like Windows is potentially maybe supported now, but this issue still exists. The correct spot Windows price is pulled, but it is being compared against the Linux on-demand price.

At a glance, it seems like the on demand price is still hard coded to Linux here: https://github.com/AutoSpotting/AutoSpotting/blob/master/core/region.go#L206

[2019-07-21 19:26] cristim commented on #105
Thanks, looks like you are right. Only the spot pricing is configurable, the on demand price is hard-coded to Linux.

As a workaround if the comparisons fail, you can either set the on demand price multiplier to some value that brings the resulting on demand Linux price close to the Windows price.

Alternatively you can use the aggressive bidding policy which is ignoring the on demand price and ju

[2019-07-22 13:08] timboven opened #355 "Incorrect determination of instance profile of launch configuration"
# Github issue #

## Issue type ##

- Bug Report
## Build number #

Current (master)

## Summary ##
The AWS API documents clearly that the value "IamInstanceProfile" returned from a Launch Configuration could be either the name or the ARN of the launch configuration (this depending on how it was created -- docs: https://github.com/AutoSpotting/AutoSpotting/blob/master/core/instance.go#L589). The c

[2019-07-22 14:13] cristim commented on #355
Thanks for reporting this.

This is a relatively new issue, we've been historically taking this from a running instance, where it was always available by ARN. I recently changed the logic to take it from the LC in order to be able to replace running instances started from an older LC that weren't replaced and may be drifting from the current LC.

Apparently the LC is more flexible and can have thi

[2019-07-23 07:57] timboven commented on #355
@cristim I created PR #356 that solves this for me -- I compiled it and deployed my custom build in my test environment and none of these errors occur anymore.

Could you review my suggested change for fixing the issue?

[2019-07-24 08:57] #355 closed

[2019-07-25 16:07] cristim commented on #344
For anyone brave enough to be a guinea pig for barely tested code, the latest build from the #354 branch may mitigate this issue.

To install is just click on this URL:
https://console.aws.amazon.com/cloudformation/home?region=us-east-1#/stacks/create/template?stackName=AutoSpotting&templateURL=https://s3.amazonaws.com/cloudprowess/custom/template_build_1439509.yaml

[2019-07-25 16:08] cristim commented on #332
For anyone brave enough to be a guinea pig for barely tested code, the latest build from the #354 branch should mitigate this issue for new ASGs.

To install is just click on this URL:
https://console.aws.amazon.com/cloudformation/home?region=us-east-1#/stacks/create/template?stackName=AutoSpotting&templateURL=https://s3.amazonaws.com/cloudprowess/custom/template_build_1439509.yaml

[2019-07-25 16:10] cristim commented on #296
For anyone brave enough to be a guinea pig for barely tested code, the latest build from the #354 branch should mitigate this issue for new ASGs.

To install it just click on this URL:
https://console.aws.amazon.com/cloudformation/home?region=us-east-1#/stacks/create/template?stackName=AutoSpotting&templateURL=https://s3.amazonaws.com/cloudprowess/custom/template_build_1439509.yaml

Please report

[2019-07-25 16:10] cristim commented on #284
For anyone brave enough to be a guinea pig for barely tested code, the latest build from the #354 branch should mitigate this issue for new ASGs.

To install it just click on this URL:
https://console.aws.amazon.com/cloudformation/home?region=us-east-1#/stacks/create/template?stackName=AutoSpotting&templateURL=https://s3.amazonaws.com/cloudprowess/custom/template_build_1439509.yaml

Please report

[2019-07-27 17:47] towczare commented on #344
Cristian, thanks a lot for an update.
I played with this version just a little bit and discovered strange behavior during scaling up instances.
![spot](https://user-images.githubusercontent.com/11510145/61997773-192e4300-b0a7-11e9-8cac-33e17ab47fe7.png)
It looks like the spot instances were being spawned but then instantly killed instead of replacement of two normal instances left (as you can see

[2019-07-29 10:02] cristim commented on #344
@towczare thanks for testing and reporting this.

My tests so far have been just by running AutoSPotting locally against custom JSON events. I didn't actually run it end to end as it runs from lambda yet due to lack of time.

This looks like a bug in the event handling, I'll look into this and also run it from Lambda myself.

[2019-07-29 13:56] cristim commented on #344
I also got it tested on my side and for single-instance replacements this seems to work quite reliably but it turns out there's a race condition with the AutoScaling group when multiple on-demand instances are launched and replaced at the same time, like it is the case for a new group or when scaling out by multiple nodes simultaneously.

For a short time, after we launch and attach spot instances

[2019-07-31 19:46] cristim commented on #344
@towczare please try https://console.aws.amazon.com/cloudformation/home?region=us-east-1#/stacks/create/template?stackName=AutoSpotting&templateURL=https://s3.amazonaws.com/cloudprowess/custom/template_build_94d2077.yaml (requires the same parameter change you mentioned).

At least in my case it seemed to work fine on a group of 4 instances.

[2019-07-31 19:53] cristim commented on #296
I've started working on this as part of #354.

So far my idea is to implement support for the launch lifecycle hooks of the unattached spot instances by handling the CloudTrail event that captures the failure to run the lifecycle hook action on the unattached spot instances(they fail with a validation error because the instances are not yet in the group). This would be handled like the other Cloud

[2019-08-01 08:48] towczare commented on #344
Thanks for your fast contribution @cristim Unfortunately I don't know golang, so I will at least help a little bit as tester :slightly_smiling_face:  I ran a couple of tests today, playing with it a bit.
Here are my observations:

1) First test I run up, was some agresive scaling (+2 to existing 2) and race condition was also noticable.
![Screenshot from 2019-08-01 10-37-40](https://user-images.gi

[2019-08-01 09:30] cristim commented on #344
@towczare I'm very surprised about these results. Are you sure you run the latest version?

[2019-08-01 09:43] towczare commented on #344
@cristim I double-checked. This is the latest stack provided by you. Pointing to **lambda_build_94d2077.zip**

[2019-08-01 10:20] towczare commented on #344
I removed a different stack of autospotting, used a different tag for discovery and I am just running my tests again. The first scenario mentioned earlier (2 + 2 instances) seems to be reproduced.
![Screenshot_2019-08-01 Instances EC2 Management Console(26)](https://user-images.githubusercontent.com/11510145/62285807-aaf6d100-b456-11e9-8f5a-3248a6be9e19.png)

[2019-08-02 10:40] cristim commented on #344
I'm going to work on this race condition after I'm done with the lifecycle hooks work I'm currently doing.

The idea so far is to temporarily suspend the Termination process of the Autoscaling group for a few minutes. Since this isn't supported by the API I'm going to have to create a workaround using DynamoDB TTLs as described on gitter.im

[2019-08-12 16:15] cristim commented on #344
@towczare I implemented a naive but simple fix in the custom build 0783910, please give it a try.

Over the last few days I focused on lifecycle hook support and I didn't yet test it in groups with concurrent instance replacements, but it might work. I'm now suspending the termination lifecycle processes during an instance replacement. If this isn't working as expected I'll try to implement someth

[2019-08-13 06:12] cfarrend opened #358 "nil deference when triggered by Spot Termination Event"
## Issue type ##

- Bug Report

## Build number #

master branch

## Configuration ##

Deployed as a Stack Set, with a CloudWatch Rule triggering the function

## Summary ##

Can't confirm completely, but I believe the `logger` which is created from `main.go` 's `setupLogging` function does not get created, and therefore creating a nil pointer deference

It seems that `run()` is needed for it to b

[2019-08-13 12:22] cristim commented on #358
Thanks for reporting this issue.

I'm in the middle of a large refactoring which may have already addressed this, but I'll double check it soon.

Can you also reproduce it with the code from the feat/event-based-instance-replacement branch that I'm working on for #354?

You can install the latest build from this branch using the CloudFormation template custom/template.yaml from my S3 bucket.

[2019-08-14 01:46] cfarrend commented on #358
Hey @cristim I've been trying out the code from feat/event-based-instance-replacement and looks like this is not an issue. I've sent a bunch of termination events to the function and seems to be picked up correctly

[2019-08-14 01:49] cfarrend commented on #358
As an aside, perhaps we could catch the error if an instance no longer exists?

[code]

[2019-08-14 08:41] cfarrend commented on #358
@cristim I don't do golang too much but maybe something like this
`spot_termination.go`

[code]

[2019-08-14 09:54] cristim commented on #358
Thanks, I'll have a look at this soon.

Great to hear that it's working well with the current state of that branch

[2019-08-14 13:29] towczare commented on #344
Great news! Currently I am on vacation, so I will take a look into this next week.

[2019-08-26 06:20] cfarrend opened #362 "Spot Instance Termination is Generic"
# Github issue #

## Issue type ##
- Bug Report

## Build number #

master branch

## Summary ##

During Spot Instance termination, the function does not take into consideration the tags of the instance's AutoScaling group or will run into a conflict if multiple AutoSpotting functions are deployed.

AutoScaling groups that do not use AutoSpotting are also affected, this can cause issues with tools

[2019-08-26 16:29] cristim commented on #362
Thanks for reporting this issue.

I currently don't have bandwidth to look into this but I'd really appreciate a contribution on top of the branch I'm working on for #354

[2019-08-27 08:24] towczare commented on #344
@cristim sorry it took so long but this is the earliest I could test build **0783910**
During upscaling one by one, two strange behaviors were noticed by me:
* First one was related with ordering too many spot instances and then terminating one of them (this is no big deal, actually I don't find it an as big problem at all)
![Screenshot_2019-08-27 Instances EC2 Management Console(1)](https://user-

[2019-08-27 11:11] cfarrend commented on #362
Hey @cristim I have raised PR #363 with the code I've been working with so far, any feedback is appreciated

[2019-08-30 05:53] mzupan opened #364 "Evicting/Taint Nodes"
It seems to me autospotting is terminating the node from the ASG and buying a spot instance. Is there a way to have autospotting taint and drain the node first before killing it? I have work loads that don't like to be randomly killed.

[2019-08-30 07:42] cristim commented on #364
Thanks for your question.

You would have the same problem if instances are terminated for any other reason, it just happens that AutoSpotting does it more often than usual so it becomes noticeable.

If this is causing problems try using the Termination lifecycle hooks on your Autoscaling group. AutoSpotting should support those.

Please feel free to reach out again if this doesn't work.

[2019-08-30 07:42] #364 closed

[2019-09-05 23:57] vdoodala opened #365 "Multiple autospotting lambda functions on single ASG?"
# Github issue #

## Issue type ##

- Question ?

## Environment ##

- AWS region - (us-west-2)
- Type of environment: (VPC)

## Summary ##

I would like to know if we run multiple autospotting lambda functions on single ASG ? will there be any race-around condition in replacing on-demand instances ?

[2019-09-06 08:13] cristim commented on #365
It depends on the timing of the cron events, if you run them at the same time you will likely run into race conditions.

If you can get them to run even a few seconds apart, they should work fine.

I'm curious about why you would run more of them. Can you explain your use case?

[2019-09-13 20:00] vdoodala commented on #365
We are running a cluster of more than 250 nodes, so its taking too much time for autospotting to replace on-demand instances. So, may be if we run multiple autospotting lambda functions, we can solve this problem ?

[2019-09-14 12:20] cristim commented on #365
I doubt it helps with this use case but by all means try it and see if it actually works.

The event based mode I'm working on at #354 is likely to support this once I'm done with it.

It's a significant architectural change, lot of new code and still work in progress, barely tested and likely still buggy but feel free to give it a try and let me know if you notice any issues.

[2019-09-18 14:28] cristim commented on #365
Closing this

@vdoodala  feel free to re-open if you have further questions on this topic

[2019-09-18 14:28] #365 closed

[2019-09-18 14:44] cristim commented on #358
Note to self: re-check this after the branch is merged.

[2019-09-18 14:47] cristim commented on #348
We need to see how to do this in a way that doesn't cause us to leak these hibernated instances

[2019-09-18 14:58] cristim commented on #347
I won't spend any of my time on this, but if anyone cares about this enough to submit a PR, I'd gladly consider it.

[2019-09-18 15:02] cristim commented on #343
#354 is likely to make this obsolete, but we need to re-check once that's merged

[2019-09-18 16:05] cristim commented on #333
@ChienHuey do you have any progress on this work?

[2019-10-11 20:31] #344 closed

[2019-10-19 06:35] rithuchandran commented on #272
Hi, can I pick this up as a first time contributor?

[2019-10-19 08:03] cristim commented on #272
Sure, by all means but I would recommend you work on the unmerged branch I created for #354

[2019-11-26 22:56] wmorgan6796 opened #369 "Update AWS SDK"
# Github issue

## Issue type ##

- Bug Report

## Build number #

Latest build

## Summary ##

To use Autospotting with the latest release of EKS while making use of IAM Roles for Service Accounts, you need a minimum version of the AWS Go SDK. The SDK version currently used is too old.

## Expected results ##

Should work within EKS using IAM Roles for Service Account

## Actual results ##

Faile

[2019-11-27 16:02] wmorgan6796 commented on #369
I would close this issue as the PR has been merged

[2019-11-27 16:02] #369 closed

[2019-12-05 00:40] ps-jay opened #370 "Up-to-date Docker image on hub?"
Hey there,

I do something off-the-happy path: I run autospotting as an ECS task, rather than a Lambda - because I have an ECS cluster sitting there with spare capacity.

The published Docker image is ~ 1 year old: https://hub.docker.com/r/cristim/autospotting/tags

Could this be updated?

Thanks!,
  Phil

[2019-12-05 13:11] cristim commented on #370
The repo was since renamed, the current image is available at
https://hub.docker.com/repository/docker/autospotting/autospotting

The latest image is about three days old.

Just keep in mind that the Docker image is not supported and likely not feature-complete as the code might depend on some resources usually deployed from the standard CloudFormation stack.

[2019-12-05 13:11] #370 closed

[2019-12-17 06:31] cristim opened #372 "Use the new compute-optimizer service for the instance compatibility logic"
# Github issue #

## Issue type ##

- Bug Report
- Feature Idea
- Documentation Report

## Build number #

[code]

## Configuration ##

## Environment ##

- AWS region
- Type of environment: (VPC, EC2Classic or DefaultVPC)
- Anonymized launch configuration:

[code]

## Summary ##

## Steps to reproduce ##

## Expected results ##

## Actual results ##

[code]

[2020-01-23 17:22] gabegorelick opened #373 "Inability to DescribeRegions does not cause panic"
## Issue type ##

Bug Report

## Build number ##

Custom build of 9b438dc with no diff.

## Environment ##

- AWS region: us-east-1
- Type of environment: VPC

## Summary ##

The AutoSpotting Lambda logs errors when it fails to describe regions, but it does not panic. This means that unless you have something monitoring your logs for errors, AutoSpotting may silently fail (since it exits normally,

[2020-01-23 17:41] cristim commented on #373
Thanks for reporting this issue, please create a PR with a fix.

[2020-01-23 18:11] gabegorelick opened #374 "Remove autoscaling:DescribeTags permission"
## Issue type ##

Feature Idea

## Summary ##

`scanForEnabledAutoScalingGroupsByTag` was removed in https://github.com/AutoSpotting/AutoSpotting/pull/209, but AutoSpotting still grants `autoscaling:DescribeTags`. As far as I can tell, nothing calls `autoscaling.DescribeTags` anymore since `DescribeAutoScalingGroups` is used instead.

[2020-01-24 01:52] gabegorelick commented on #373
@cristim The `DescribeRegions` case is easy enough to fix, since there's no reason not to exit with an error code in that case. But what about errors that aren't necessarily fatal? For example, [failing to describe a cloudformation stack](https://github.com/AutoSpotting/AutoSpotting/blob/972bc61ac8c3315bdbb30245057b24ab74baa17a/core/region.go#L347). Presumably, such an error is not worthy of exiti

[2020-01-24 08:24] cristim commented on #373
To be honest I don't think it's critical to handle/monitor these cases, so far it was enough to assume the IAM policy is correct, people are not supposed to change it.

But if you strongly believe it should be handled differently feel free to send a PR and I'll gladly accept it.

But I would like to learn more about your use case for these requirements.

[2020-01-24 14:42] gabegorelick commented on #373
I'm setting up AutoSpotting in a multi-tenant environment where I don't want misconfiguration errors, e.g. the wrong `TAG_FILTERS`, to mess with other ASGs. So I'm limiting the IAM permissions to specific resources. This means I have to use a custom CloudFormation stack, which means I may get things wrong 😉.

Authorization errors are just one example. AutoSpotting could also run into rate limiting

[2020-01-24 15:41] gabegorelick commented on #206
Similar issue happens for EBS, which is mentioned in #353. If you have a t3 instance, t2 will not be considered since it lacks EBS throughput. This will probably continue to be an issue in the future as newer instance types add new features that older instances types will naturally lack.

I think educating users about `autospotting_allowed_instance_types` is a fine solution though.

[2020-01-24 15:45] cristim commented on #373
I see, good luck with that project sounds like fun!

In a previous setup we used to monitor all these using a custom Splunk search executed over the CloudTrail logs. But AutoSpotting was always executed with the upstream permissions.

Once you're done I'd love if you could share how you did this, it might be useful for other folks as well.

[2020-01-24 17:23] gabegorelick opened #375 "Increasing autospotting_min_on_demand_number does not cause replacement of existing spot instances"
## Issue type ##

Bug Report

## Build number #

Custom build of 9b438dc with no diff.

## Configuration ##

None

## Environment ##

- AWS region: us-east-1
- Type of environment: VPC

## Summary ##

Increasing the `autospotting_min_on_demand_number` tag on an ASG does not cause AutoSpotting to replace existing spot instances with on-demand instances.

## Steps to reproduce ##

1. Launch an ASG o

[2020-01-24 17:31] gabegorelick commented on #375
I don't see any code related to replacing spot instances with on-demand in https://github.com/AutoSpotting/AutoSpotting/blob/master/core/autoscaling.go, so I guess AutoSpotting doesn't support this?

I would expect this to work similar to a mixed instance ASG where you can adjust your on-demand %/fixed number and the number of active spot instances is automatically updated.

[2020-01-24 19:16] cristim commented on #375
The way it's supposed to work is by terminating a spot instance and allowing the group to launch an on demand replacement instance.

Considering your experiment with reducing the IAM permissions mentioned recently on another issue, did you by any chance remove the permissions to terminate your on-demand instance?

[2020-01-24 19:21] gabegorelick commented on #375
@cristim Are you saying AutoSpotting is supposed to terminate the spot instance, or the ASG is supposed to terminate it?

[2020-01-24 20:06] cristim commented on #375
Autospotting would terminate the spot instance

[2020-01-24 20:08] gabegorelick commented on #375
@cristim I don't see any errors in my logs. After it finds the min on demand tag it says there's no work to do.

Where does AutoSpotting attempt to terminate the spot instance? If I know where it happens in the codebase I can potentially investigate more.

[2020-01-24 21:08] cristim commented on #375
Sorry, but as you don't currently have a support plan I can't support you any further.

You have full access to the source code, feel free to use it.

[2020-01-24 22:10] gabegorelick commented on #375
I see where AutoSpotting handles this now. Relevant code is https://github.com/AutoSpotting/AutoSpotting/blob/972bc61ac8c3315bdbb30245057b24ab74baa17a/core/autoscaling.go#L58.

It seems to be working now. I think I was running into https://github.com/AutoSpotting/AutoSpotting/blob/972bc61ac8c3315bdbb30245057b24ab74baa17a/core/autoscaling.go#L73.

Apologies for the noise. Thanks for everything you

[2020-01-24 22:10] #375 closed

[2020-01-24 23:11] gabegorelick commented on #362
This seems to be a huge blocker in running AutoSpotting in multi-tenant environments.

[2020-01-25 05:27] gabegorelick opened #376 "Instance types "Unavailable in this Availability Zone" with erroneous price of 0"
## Issue type ##

Bug Report

## Build number #

9b438dc

## Configuration ##

`allowed_instance_types: current`, but not sure that matters.

## Environment ##

- AWS region: us-east-1
- Type of environment: VPC

## Summary ##

AutoSpotting is reporting that certain spot instance types have a price of 0.

Here's what I see in the logs:

Since AutoSpotting [interprets a spot price of $0 as meaning

[2020-01-25 07:23] cristim commented on #376
Thanks for reporting this.

This price data is coming from the spot instance price history, and intermittent issues might indicate API throttling, especially considering that you seem to be  trying to run multiple instances of AutoSpotting in parallel from the same account.

[2020-01-25 07:24] cristim commented on #374
Good catch, I think this permission can be removed.

[2020-01-25 16:08] gabegorelick commented on #376
It seems to be happening more consistently for some instance types than others. E.g. I saw it for a few hours straight with t2.medium while other instances returned data fine. So I'm not sure API throttling is the issue (or if it is, AWS is doing very strange throttling).

I actually still only have one instance of AutoSpotting. Gotta figure out these issues before rolling it out more 😄 But that l

[2020-01-25 18:21] cristim commented on #376
I might be wrong but I think there is a possibility that we cache the pricing information within the Lambda function so you might have the same corrupt data for subsequent executions. Can you see any throttling errors in the Cloudtrail logs?

[2020-01-25 18:57] gabegorelick commented on #376
@cristim I see no evidence of throttling in CloudTrail.

![image](https://user-images.githubusercontent.com/610129/73125925-7f265500-3f7a-11ea-89a8-abc9d90bbe34.png)

[2020-01-25 19:25] gabegorelick opened #377 "`make archive` fails on macOS"
## Issue type ##

Bug Report

## Build number #

master

## Summary ##

`make archive` fails on macOS with the following error:

make: *** [archive] Error 1

## Steps to reproduce ##

Run `make archive` on macOS.

## Expected results ##

It should work.

## Actual results ##

![image](https://user-images.githubusercontent.com/610129/73126256-6ddf4780-3f7e-11ea-9567-bf743087f3e8.png)

[2020-01-25 19:25] gabegorelick commented on #377
I'll have a fix up shortly. Just thought I'd file a bug to reference in the PR.

[2020-01-25 20:07] gabegorelick opened #380 "spot_price_buffer_percentage=0 is ignored"
## Issue type ##

Bug Report

## Build number #

master

## Summary ##

If `spot_price_buffer_percentage` is 0, the default of 10 is used.

https://github.com/AutoSpotting/AutoSpotting/blob/9b438dc47cbfd9587b042d5b2aaac2765c28a4e0/core/autoscaling_configuration.go#L138-L141

But a value of 0 is useful to bid at the current spot price.

My specific use case involves testing spot instance interrupti

[2020-01-25 22:17] gabegorelick opened #382 "AutoSpotting logs too much by default"
## Issue type ##

Feature Idea

## Build number #

master

## Summary ##

AutoSpotting logs a lot of information by default. While it's great to have such more info should something go wrong, in practice I think it often makes it harder to debug issues. In an environment with a lot of auto scaling groups, the amount of logs can be overwhelming and makes it difficult to get a sense of what AutoSpot

[2020-01-26 01:43] gabegorelick opened #385 "`make build` forces GOOS=linux"
# Github issue #

## Issue type ##

Bug Report

## Build number #

master

## Summary ##

The docs mention that `make build` makes an artifact suitable for running locally, but this is only true if you're on Linux. `make build` sets `GOOS=linux`, which is correct if you want to run the executable on Lambda, but not if you want to run it locally on a non-Linux platform.

https://github.com/AutoSpot

[2020-01-26 04:30] gabegorelick opened #387 "nil pointer dereference when processing spot termination event for instance not in an ASG"
# Github issue #

## Issue type ##

Bug Report

## Build number #

master

## Summary ##

When AutoSpotting receives a CloudWatch event signaling that a spot instance will be terminated, it calls `getAsgName`:
https://github.com/AutoSpotting/AutoSpotting/blob/9b438dc47cbfd9587b042d5b2aaac2765c28a4e0/core/spot_termination.go#L118-L131

`*result.AutoScalingInstances[0].AutoScalingGroupName` will seg

[2020-01-26 04:32] gabegorelick commented on #387
I have a fix for this in my working branch of https://github.com/AutoSpotting/AutoSpotting/pull/363. I can break it out if desired.

[2020-01-26 08:58] cristim commented on #382
I agree with this, I  actually did a similar change on my work in progress branch for event based execution.

[2020-01-26 09:02] cristim commented on #380
Thanks for all your contributions, I really appreciate your work.

Unfortunately I don't have time to look at it this weekend but I will have a look sometime next week.

[2020-01-26 09:05] #377 closed

[2020-01-26 09:06] #382 closed

[2020-01-26 09:10] #380 closed

[2020-01-26 09:23] cristim commented on #387
Thanks, that would be great

[2020-01-27 10:43] umitseremet opened #389 "Frequency of interruption is used for prioritize?"
# Github issue #

## Issue type ##

- Feature Idea

## Summary ##

I wonder "Frequency of interruption" defined by aws in https://aws.amazon.com/ec2/spot/instance-advisor/ is used as a parameter or not. Let's assume I will define r5* types as alternative spot typed. Just price is a factor or  "Frequency of interruption" is also a parameter or could be a  parameter as partial like %60 price %40 "Fr

[2020-01-27 13:14] cristim commented on #389
They are not used but in practice the infrastructure will converge to the stable instance types after a few terminations

[2020-01-28 10:14] #387 closed

[2020-01-28 10:17] #385 closed

[2020-01-28 19:46] gabegorelick opened #395 "Error when building in Debian sh"
# Github issue #

## Issue type ##

 Bug Report

## Build number #

master

## Summary ##

When running `make archive` in Debian where your shell is /bin/sh (Debian dash), you get a variety of errors.

## Steps to reproduce ##

- Use Debian's /bin/sh as your SHELL
- Run `make archive`

## Expected results ##

No errors

## Actual results ##

All sorts of errors

[2020-01-28 19:56] #395 closed

[2020-01-28 19:59] #362 closed

[2020-01-28 20:33] gabegorelick commented on #395
I think this was actually user error on my part.

[2020-01-28 21:18] gabegorelick opened #400 "Fix coveralls"
# Github issue #

## Issue type ##

- Bug Report

## Build number #
master

## Summary ##

Coveralls testing of PRs has not been working for some time. Should it be fixed, or removed entirely?

![image](https://user-images.githubusercontent.com/610129/73306223-c403f300-41e9-11ea-9afe-720f4028a291.png)

## Steps to reproduce ##

Open a PR. Notice coveralls results stay pending indefinitely.

## Exp

[2020-01-29 06:50] cristim commented on #400
This is a known issue, caused by the fact that it needs some secrets only available to PRs created by myself.

I would like to keep it, I hope we can find a way to make it work for everyone else.

[2020-01-29 23:29] gabegorelick opened #401 "AutoSpotting should bring replacement instance online before detaching or terminating spot instance"
# Github issue #

## Issue type ##

Feature idea

## Build number #

master

## Summary ##

By default, when AutoSpotting gets a CloudWatch Event signaling that a spot instance is due to be terminated soon (a "2 minute warning") it detaches the instance. This ensures that the ASG will start bringing up a replacement instance before the spot instance stops. The spot instance stays running  (but una

[2020-01-29 23:31] gabegorelick commented on #401
It may be possible to get this to work. I'm curious if anyone has done that.

[2020-01-29 23:48] gabegorelick opened #402 "Ability to include randomness when calculating spot bid price"
# Github issue #

## Issue type ##

- Feature Idea

## Build number #

master

## Summary ##

AutoSpotting already features the ability to customize `SpotPricePercentageBuffer` to allow bidding relative to the current spot price. But bidding the same price for every spot instance in an ASG means a lot of your instances may get interrupted at the same time should the price increase. It would be nic

[2020-01-30 01:36] gabegorelick opened #403 "OnDemandPercentageAboveBaseCapacity"
# Github issue #

## Issue type ##

- Feature Idea

## Summary ##

AutoSpotting supports a `MinOnDemandNumber` and `MinOnDemandPercentage`, but these are mutually exclusive (`MinOnDemandNumber` takes precedence over `MinOnDemandPercentage`).

In contrast, AWS's native mixed auto scaling groups accept an `OnDemandBaseCapacity` (which is basically identical to `MinOnDemandNumber`) and an `OnDemandPe

[2020-01-30 01:44] gabegorelick commented on #129
The AWS Console now features a Spot Savings section: https://aws.amazon.com/about-aws/whats-new/2018/11/Amazon-EC2-Spot-Console-now-Provides-Access-to-Spot-Savings-Information/

This just counts all spot instances, so it would include any not launched by AutoSpotting. But it may be good enough.

AWS Cost Explorer lets you see this daily now. So not sure how much value CloudWatch metrics would add.

[2020-01-30 01:46] gabegorelick commented on #117
AWS's OnDemandPercentageAboveBaseCapacity isn't exactly the same, but I think it's a better approach. I've filed #403 to track implementing that.

[2020-01-30 02:36] gabegorelick commented on #358
It may work because the global variable was initialized in an earlier invocation of the Lambda. If the Lambda isn't "thawed" then I think it should fail 100% of the time.

I was going to try and land the conf and setup portion of that branch if I have time. But that still may take some time. So I think I may try to fix this bug separately.

[2020-01-30 02:40] cristim commented on #401
Thanks for reporting this, I was actually contemplating to attempt launching a new spot instance with fallback to launching an on demand instance even of a different instance type (potentially more expensive) when handling the termination event. this would have to be the first one we attempt to replace with spot afterwards.

It should not be so hard to implement but I would like to have this done

[2020-01-30 02:53] cristim commented on #402
Great idea, thanks!

If you look at the spot pricing graphs since a couple of years ago there's basically just a daily correction of a very small increment.

In practice using the aggressive bidding policy makes little sense anymore, unless you actually want to trigger replacements in order to test some code paths.

We could determine that increment and instead of using a percentage we can bid a r

[2020-01-30 02:59] cristim commented on #129
I guess it should allow you to specify tags which we could use for filtering only the instances launched by AutoSpotting.

If this is the case we could just document the procedure to filter based on our `launched-by-autospotting` tag key (or whatever key name we use).

[2020-01-30 03:05] gabegorelick commented on #402
I think AWS technically only guarantees the price for an hour. Some of the more volatile instances will change prices multiple times a day, although it's nothing like the swings before the Spot bidding overhaul.

This is exactly what I've been using it for. I think there also may be case to use it instead of OnDemandPriceMultiplier, but I don't know what it would be.

[2020-01-30 03:16] gabegorelick commented on #129
Unfortunately the Savings Summary available in the AWS Console under EC2 -> Spot Requests doesn't allow any type of interactive querying (no filtering, grouping, or anything). It just lists the number of spot instances you have, how long they've been running (in aggregate vCPU and GiB hours), and then the estimated savings based on said numbers. I'm pretty sure it doesn't even track savings from i

[2020-01-30 06:43] cristim commented on #129
Got it, thanks!

We do have a figure logged on each run, should be easy to push it to a custom metric

[2020-01-30 19:07] gabegorelick commented on #401
Why would we do that instead of launching an on-demand instance and then letting a subsequent invocation of AutoSpotting switch it out for a spot-instance? Wouldn't that make it more likely that no instance is brought online in time? Or can we fairly quickly determine that the spot request fails and then fallback to on-demand well within 2 minutes?

[2020-01-30 20:18] cristim commented on #401
Reducing reduced capacity/downtime and churn.

The RunInstances API call that we use to launch spot instances  fails fairly quickly with insufficient capacity, if I remember correctly it was a matter of seconds so we have time to iterate over multiple instance types

[2020-01-30 21:00] gabegorelick opened #406 "Move code out of autospotting.go"
# Github issue #

## Issue type ##

- Feature Idea

## Summary ##

There's currently no good way to (unit) test code in the file `autospotting.go` (please correct me if I'm wrong!) since that's in the `main` package. We should move as much functionality as we can out of this file so that all the business logic can be tested by unit tests.

This is especially important with changes like #354 changi

[2020-01-30 22:17] gabegorelick commented on #401
Awesome! If that's the case, then your approach makes sense.

Thanks.

[2020-01-30 23:31] gabegorelick opened #407 "ValidationError: To attach 1 instance, please update the AutoScalingGroup sizes appropriately"
# Github issue #

## Issue type ##

Bug Report

## Build number #

ca81828f91d7cddc597ba750890ad5a5e9b98464 with no changes

## Environment ##

- AWS region: us-east-1
- Type of environment: VPC

## Summary ##

When enabling AutoSpotting for the first time against a few ASGs, I see the following error in the logs:

So far I've seen this twice for different ASGs (one time each for 2 ASGs).

One ASG

[2020-01-31 01:10] gabegorelick commented on #376
Could this be because `DescribeSpotPriceHistory` is a paginated endpoint, but AutoSpotting is not using the paginated version?

[2020-01-31 01:38] gabegorelick commented on #350
I've run into the lack of this feature. While the new spot pricing model has certainly reduced price volatility, it still exists. For example t3a *on-demand* instances are always cheaper than their t3 counterparts. But the *spot* price of t3a instances fluctuates a lot: sometimes they're cheaper than t3's and sometimes they're more expensive. By picking one or the other, AutoSpotting can lock you

[2020-01-31 02:19] cristim commented on #407
Historically, when at maximum capacity, we used to swap the attach/detach actions so that we detach first the on demand instance in order to bring the group to lower desired capacity, and then the attach call worked.

For some reason it looks like we're not doing it anymore.

[2020-01-31 02:31] gabegorelick commented on #407
Any reason not to temporarily increase the maxsize when that happens?

[2020-01-31 02:32] cristim commented on #350
Thanks, I think one way out of this situation would be to force a spot replacement as soon as the spot price of another candidate instance type becomes marginally better on the long run.

I'm not sure how the comparison logic would look like but I am open to suggestions.

Let's reopen this and come up with a way to make it work.

[2020-01-31 02:37] cristim commented on #407
We do this for the case when min=max=desired. With swapped detach/attach actions it should not be necessary and I wouldn't interfere with the max unless there's no other way, but I am open to doing it if there's really no other way.

I wonder what made this stop working.

[2020-01-31 02:42] cristim commented on #376
As far as I remember without looking at the code we just query the current price one instance type at a time so we shouldn't need to get more pages. I guess this can cause problems in case we query the price for multiple instance types that would not fit in a page.

[2020-01-31 02:45] gabegorelick commented on #376
@cristim Pretty sure it queries for all instance types in the region at once.

Regardless, I'll have a fix up shortly. Just adding some tests now.

[2020-01-31 03:04] cristim commented on #376
Awesome, huge thanks!

[2020-01-31 03:15] gabegorelick commented on #376
See https://github.com/AutoSpotting/AutoSpotting/pull/408. Not sure if it will fix it, but worth a shot.

[2020-01-31 16:30] gabegorelick opened #409 "Consider ENI capacity when determining instance compatibility"
# Github issue #

## Issue type ##

- Feature Idea

## Summary ##

Each instance type has a maximum number of network interfaces that it can have. See https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-eni.html#AvailableIpPerENI. AutoSpotting should consider this when deciding if a spot instance is compatible with the currently running instance.

Maximum ENIs is important for containerized

[2020-01-31 18:51] gabegorelick opened #410 "Tag spot requests"
# Github issue #

## Issue type ##

- Feature Idea

## Summary ##

AutoSpotting tags the spot _instances_ it launches, but it does not tag the spot _requests_:
https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/spot-requests.html#concepts-spot-instances-request-tags

Tagging the spot requests can be useful to, for example, group spot requests by ASG or some other value.

Spot requests also suppor

[2020-01-31 20:05] cristim commented on #410
We're no longer creating the spot requests, like we used to do for a while. We're now using the RunInstances EC2 API call, which will take care of the spot instance requests under the hood.

I'm not sure if this API call allows us to tag the spot instance requests that it maintains.

I think we could do the tagging ourselves but I am reluctant to add this logic and increase the complexity with ver

[2020-01-31 20:51] gabegorelick commented on #410
It does not. You have to tag them manually after the spot request is created. I think we can potentially do this when attaching the spot instance to the ASG.

I may agree with you, but let's see what the code looks like first :)

[2020-01-31 21:30] gabegorelick opened #412 "AutoSpotting should prefer to terminate on-demand instance from the AZ with the most on-demand instances running"
# Github issue #

## Issue type ##

- Feature Idea

## Summary ##

AutoSpotting can maintain a minimum number or percentage of on-demand instances per autoscaling group. But there's no way to force a minimum number of on-demand instances per Availability Zone. This means that all your on-demand instances could end up in the same AZ (please correct me if I'm wrong). It seems safer to distribute the

[2020-02-01 06:59] cristim commented on #412
Great suggestion, thanks!

[2020-02-04 17:19] gabegorelick opened #416 "Limit iam:CreateServiceLinkedRole permission to specific role"
# Github issue #

## Issue type ##

- Feature Idea

## Build number #

master

## Summary ##

`iam:CreateServiceLinkedRole` was added in #205 and is a fairly major permission to grant to AutoSpotting. In reality, I think it only needs to create the `AWSServiceRoleForEC2Spot` service-linked role. Thus, its permissions could be limited to that specific resource.

See https://docs.aws.amazon.com/IAM/

[2020-02-04 18:13] cristim commented on #416
@gabegorelick is it possible to restrict this permission only for the `AWSServiceRoleForEC2Spot` service-linked role?

[2020-02-04 19:54] gabegorelick commented on #416
Yes. I've verified the following works:
[code]

I can throw together a PR if you want.

[2020-02-05 04:22] cristim commented on #416
By all means!

My IAM policy knowledge needs a  refresh, this is awesome, thanks!

[2020-02-08 23:19] gabegorelick commented on #376
Haven't had any issues since upgrading to #408. I think we can close for now and reopen if it pops up again.

[2020-02-08 23:19] #376 closed

[2020-02-09 00:10] cristim commented on #376
Great to hear that, thanks!

[2020-02-12 14:10] umitseremet opened #420 "Hybrid-instance-type"
# Github issue #

## Issue type ##

- Feature Idea

## Build number #

[code]

## Configuration ##

I want to ask;
Although I have defined a couple of instance types for spot usage it usually chooses 1 of them, probably the cheapest one, but the same type usage is a risk because when an outage occurs all spots can be affected. Instead of "usually choosing the cheapest" strategy could we set a hybr

[2020-02-12 16:18] cristim commented on #420
Thanks for your suggestion, this is a well known issue but in practice it's not as bad as it sounds.

Spot instances no longer terminate all at once when outbid, they will be gradually terminated as the spot capacity drops.

When this happens, you're usually able to still launch an on-demand instance in that AZ(unless we're also dealing with an ICE), which will be left running before we can replac

[2020-03-05 14:13] umitseremet commented on #389
Hi @cristim ,

it seems that url reflects what we need

curl -s https://spot-bid-advisor.s3.amazonaws.com/spot-advisor-data.json | jq '.spot_advisor["us-east-1"]["Linux"]["g4dn.8xlarge"]'

[2020-03-05 14:53] umitseremet commented on #389
we can add just types have "r": 0 and "r":1 ones means just <%5 and %5-%10 ones

[2020-03-05 15:25] cristim commented on #389
That's great, I'd love to see a PR that adds (optional/configurable) support for using this data.

[2020-03-09 08:27] umitseremet commented on #348
During stopping the normal node after creating spot instead of him, which function is being applied? is that a graceful-shutdown or power-off effect?

[2020-03-09 10:20] cristim commented on #348
@umitseremet currently we just use the usual API calls to detach and terminate instances in Autoscaling groups. This is a graceful termination much like when scaling in.

[2020-03-10 09:03] umitseremet commented on #348
Thanks @cristim

[2020-03-10 09:08] cristim commented on #348
@umitseremet no problem.

If you have further questions that are unrelated to any of the existing issues please raise them as new issues or just come and ask them on [gitter](https://gitter.im/cristim/autospotting)

[2020-03-24 18:56] tapirs commented on #105
@cristim @zjd713 PR #423 should help with this, with this issue, although it looks like the windows premium is variable you should be able to set it to a value which will allow you to spin up windows spot instances.

[2020-04-24 17:16] udangel-r7 commented on #8
We just had a case where an m4.2xlarge was replaced with t3.2xlarge. While the EBS bandwidth is higher on the t3 the network performance is worse (m4.2xlarge has High performance while the t3.2xlarge has Moderate)

[2020-04-25 05:12] cristim commented on #8
@udangel-r7 this becomes a bit tricky, so you're saying that we should prioritize performance qualifications over the bandwidth figure?

If you really saturate the EBS network connectivity so that this negatively impacts your I/O, you can for now configure instance type filtering.

[2020-05-05 11:22] salvianreynaldi opened #428 "Failed spot instance attachment due to ASG maximum size"
According to [Attach EC2 Instances to Your Auto Scaling Group](https://docs.aws.amazon.com/autoscaling/ec2/userguide/attach-instance-asg.html),

Meanwhile AutoSpotting currently only adds max capacity when minSize==maxSize:
https://github.com/AutoSpotting/AutoSpotting/blob/a37aafcf4382a51cbfdfbf60e7962475289c5eff/core/autoscaling.go#L230-L234

Therefore,  if ASG size params are {min:1, max:1, desi

[2020-05-05 11:32] cristim commented on #428
Thanks for reporting this.

I'm not sure what happened, but this shouldn't be needed/happening.

When min != max we should be able to do the swap without increasing the max by swapping the instances in the correct attach/detach order so that we're always within the boundaries of the group's capacity limits.

[2020-05-05 11:54] salvianreynaldi commented on #428
Hi @cristim,

I see, the block below should prevent this from happening if {min:1, max:1, desired:1}
https://github.com/AutoSpotting/AutoSpotting/blob/a37aafcf4382a51cbfdfbf60e7962475289c5eff/core/autoscaling.go#L258-L275

However, I removed the if in L259 in my fork, because there was another error. Let's say the ASG size params are {min:0, max:2, desired:2}. The instances are in AZ apse1a (1) an

[2020-05-05 15:24] cristim commented on #428
I'm not sure I understand, please correct me if I'm wrong:

1.  you have an ASG with 2 instances in 2 AZs
2. one of them was cloned with spot but the spot instance was not yet swapped, awaiting next run for this
3. the on-demand instance that was cloned was terminated by the ASG scaling in, which reduced the desired capacity to 1

In this case attaching the spot instance after the on demand instan

[2020-05-06 00:59] salvianreynaldi commented on #428
[1] and [2] are correct.

The on-demand instance was terminated by AutoSpotting, not by a scale in. I guess it's because
`a.terminateInstanceInAutoScalingGroup(odInst.InstanceId)` (line 274) is executed before `defer a.attachSpotInstance(spotInstanceID)` (line 267), so the on-demand instance will be terminated even if the spot instance isn't successfully attached

I think "always attach-detach" wo

[2020-05-06 07:09] salvianreynaldi commented on #428
Thanks for considering my proposal
How should we go with this? May I submit a PR for this issue?

[2020-05-06 07:16] cristim commented on #428
I understand now, thanks for your explanation.

By all means, I'd love to see a PR for this.

[2020-05-08 05:01] #428 closed

[2020-05-11 08:01] mello7tre commented on #428
Just to let you know that this problem do not happen in event based branch.
The whole logic has been changed.

[2020-05-13 15:49] karock opened #430 "autospotting not respecting presence of ephemeral volume in AMI/launch template"
# Github issue #

## Issue type ##

- Bug Report

## Build number #

[code]
believe we used master branch code from end of April 2020.

## Environment ##

- AWS region: us-east-1
- Type of environment: VPC

## Summary ##

I've got an ASG set up to launch instances from a Launch Template using m5d.xlarge instances. However autospotting is allowing spot instances without an ephemeral volume to be us

[2020-05-13 17:59] cristim commented on #430
Good catch!

Looks like the Launch Template block device mappings are not handled, we just do it for groups that use the Launch Configuration.

We'll need to also count the block device mappings of the Launch Template and use it for determining the used block device mappings.

[2020-05-13 18:10] karock commented on #430
Cool, suspected that might've been the case. Let me know if I can help in any way. Not really proficient with Go, unfortunately.

[2020-05-13 18:32] cristim commented on #430
Unfortunately I don't have much time these days, but it should not be so hard, just give it a try.

[2020-05-19 00:32] waynerobinson commented on #420
That definitely sounds like it would deal with that situation.

Do you know if there's any documentation on the "spot instances no longer terminate all at once when outbid, they will be gradually terminated as the spot capacity drops." though? I haven't been able to locate it anyway in AWS' docs. 🙁

[2020-05-19 04:32] cristim commented on #420
See this blog post: https://aws.amazon.com/blogs/compute/new-amazon-ec2-spot-pricing/

And the official documentation about spot instance termination
https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/spot-interruptions.html

You can still get outbid and lose them all if you are very aggressive with the bid price but if you bid the on demand price your instance will be terminated by out of capaci

[2020-05-19 04:33] waynerobinson commented on #420
Awesome… thanks for the clarification and the links! 👍

[2020-06-10 16:44] cristim opened #431 "Maintainers/contributors wanted"
**Later edit**
My situation changed after the lockdowns relaxed in my area and for now I'm back to working on AutoSpotting a few hours a week.

If you aren't happy with the pace of development and would like to see more progress, please support me on [Github Sponsors](https://github.com/sponsors/cristim), this would make a huge difference.

Also please +1 the issues you care about most, I use thes

[2020-06-11 07:38] uguracar commented on #431
Hi Cristian, thanks for your all valuable efforts. If there are no volunteers, we are considering to take over the development/maintainership as MaxSpotter team. What do you think? Thanks.
Ugur

[2020-06-11 09:23] cristim commented on #431
@uguracar that would be great, thanks for volunteering for this.

[2020-06-11 09:41] cristim commented on #431
@uguracar I granted you maintainer role on the git repository, that should be enough to allow you to add more people from your team.

[2020-06-11 10:40] uguracar commented on #431
perfect, thanks

[2020-06-11 10:44] cristim commented on #431
you're welcome, and please take good care of it :-)

[2020-06-11 10:48] uguracar commented on #431
sure :) we'll start with the feature requests / issues to build the backlog

[2020-07-03 20:50] cristim commented on #431
@uguracar are you still serious about this? It's been almost a month now and I haven't seen any movement so far.

[2020-07-04 08:18] cristim commented on #117
This has recently been implemented in #432

Huge thanks to @jjones-smug of https://SmugMug.com for this contribution to AutoSpotting!

[2020-07-04 08:18] #117 closed

[2020-07-05 14:27] uguracar commented on #431
@cristim,  I had a PhD qualifying exam last week and couldn't pass the verbal part:( That's why I was silent. Unfortunately, I'll re-take the exam in the following months so I'll have limited time. This was not my initial plan.  In the meantime, you can search for any other volunteers for leading maintenance work. I'm sorry about this.

[2020-07-05 18:08] cristim commented on #431
@uguracar sorry to hear about your failed exam, no worries, I can understand your situation.

Good luck with your second attempt, and looking forward to collaborate afterwards.

I've also seen a few contributions from other people and also getting a little more time myself now that the lockdowns are relaxing here so I hope to resume my work on the event-based branch to bring it up to date and even

[2020-07-23 04:41] #431 closed

[2020-08-31 16:25] cristim opened #437 "Look into using amazon-ec2-instance-selector instead of our custom compatibility logic"
# Github issue #
That looks like a pretty neat library, but there are a bunch of issues that would need to be addressed upstream before we can use it:
- consider spot pricing
- consider mounted EBS volumes
- use region/Instance ID as baseline instead of an instance type

## Issue type ##
- Feature Idea

- Bug Report
- Feature Idea
- Documentation Report

## Build number #

[code]

## Configuration

[2020-10-07 11:05] cristim commented on #332
The recently merged event-based execution mode should address this problem for most cases.

Closing this issue.

[2020-10-07 11:05] #332 closed

[2020-10-07 11:05] cristim commented on #343
The recently merged event-based execution mode should address this problem for most cases.

Closing this issue.

[2020-10-07 11:05] #343 closed

[2020-10-07 11:05] cristim commented on #296
The recently merged event-based execution mode should address this problem for most cases.

Closing this issue.

[2020-10-07 11:05] #296 closed

[2020-10-07 11:07] cristim commented on #284
The recently merged event-based execution mode should address this problem for new groups.

Closing this issue.

[2020-10-07 11:07] #284 closed

[2020-10-08 20:06] sbonasu opened #438 "spot instances dont run respective autoscaling group launch configuration"
# Github issue #

Respect auto scaling group launch configuration

## Issue type ##

- Bug Report

## Build number #

commit af0fec8119acf4e4f19574dca8b25b4621f35e7e
Implement event-based instance replacement

## Summary ##

We do configuration management on EC2 via Userdata scripts when they are being launched rather than using pre built AMI. When spot instances are launched, they don't respect a

[2020-10-08 21:42] cristim commented on #438
Thanks for reporting this issue.

Could you please explain in more detail what's happening, what Userdata do the instances get?

it would be great if you could share the anonymized logs of a run of the Lambda function that shows this behavior.

[2020-10-09 14:17] sbonasu commented on #438
we get the latest amazon linux 2 AMI using ssm parameter in cloudformation template then use launch configuration userdata script to do configuration management of ASG instances.

AmiId:
    Description: ec2-Optimized AMI ID
    Type: AWS::SSM::Parameter::Value<AWS::EC2::Image::Id>
    Default: /aws/service/ami-amazon-linux-latest/amzn2-ami-hvm-x86_64-gp2

When on-demand instances are replaced wit

[2020-10-09 14:45] cristim commented on #438
Can you share some infrastructure code you used, in order to be able to easier reproduce this ?

[2020-10-14 13:48] sbonasu commented on #438
you can use this template

https://github.com/aws-samples/ecs-refarch-cloudformation/blob/master/infrastructure/ecs-cluster.yaml

[2020-10-14 14:51] cristim commented on #438
thanks, I'll have a look soon

[2020-10-15 00:06] cristim commented on #438
I had a look and found a number of bugs in the current implementation.

I pushed a few fixes but it's not ready yet, stay tuned for more changes over the next few days.

[2020-10-16 09:23] cristim commented on #438
I'm closing this as I can't reproduce it with the latest build, please reopen if you still notice this issue.

[2020-10-16 09:23] #438 closed

[2020-10-16 09:26] #420 closed

[2020-10-16 09:44] cristim opened #439 "ICE-proof handling of spot terminations"
# Github issue #

## Issue type ##

- Feature Idea

## Summary ##

Currently AutoSpotting may not be able to properly handle sudden spot terminations that escalate into an ICE for the initial on-demand instance type.

The idea is to intercept these ICE events with the recently introduced event-based model, find the group they were happening for and launch spot in that group or even fallback to on-

[2020-10-16 09:47] cristim commented on #410
@gabegorelick I'm going to close this, as I have bigger fish to fry.

Feel free to reopen it if you're still interested in this functionality enough to also contribute a pull request for it.

[2020-10-16 09:47] #410 closed

[2020-10-16 09:53] cristim opened #440 "Add support for stateful workloads"
# Github issue #

## Issue type ##

- Feature Idea

## Summary ##

Add support for attaching EBS volumes and ENIs that are either unattached(maybe capturing the detach event) or still attached to soon to terminate instances.

We may be able to see they were attached to a given current group by using tags, but this needs to be investigated.

[2020-10-16 09:57] cristim commented on #147
This should no longer happen in the recent version that has event-based replacement logic.

[2020-10-16 09:57] #147 closed

[2020-10-16 10:06] cristim opened #441 "Dynamic instance type information"
# Github issue #

## Issue type ##

- Feature Idea

## Summary ##

Currently AutoSpotting ships with a static instance type database originating from ec2instances.info. This is very efficient but it only supports commercially available regions, may get stale over time and requires software updates to get support for newer instance types.

Ideally this data should be fetched periodically and cached

[2020-10-16 10:08] cristim opened #442 "Add support for the regions in China"
# Github issue #

## Issue type ##

- Feature Idea

## Summary ##

Add support for running AutoSpotting in the regions from China

[2020-10-16 10:09] cristim opened #443 "Add support for running AutoSpotting in the GovCloud AWS regions"
# Github issue #

## Issue type ##

- Feature Idea

## Summary ##

Add support for running AutoSpotting in GovCloud

[2020-11-02 16:29] #430 closed

[2020-11-05 13:37] gjmveloso opened #448 "Capacity Rebalancing Support"
## Issue type ##

- Feature Idea

## Summary ##

Have AutoSpotting aware of instance rebalancing feature on ASGs
https://aws.amazon.com/blogs/compute/proactively-manage-spot-instance-lifecycle-using-the-new-capacity-rebalancing-feature-for-ec2-auto-scaling/

## Expected results ##

Better cost savings and proactively manage the Spot Instance lifecycle using the new Capacity Rebalancing feature for

[2020-11-05 13:45] cristim commented on #448
Thanks for reporting this, we actually talked about this earlier today on Gitter.

At a first glance it should be trivial to get it work by extending the current instance termination notification handling Cloudwatch Event filter.

I don't have time to work on this anytime soon but I would love to see a contribution about this.

[2020-11-11 16:18] gjmveloso commented on #441
The new (last year) API [DescribeInstanceTypes](https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DescribeInstanceTypes.html) along with [Query API for AWS Pricing](https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/using-pelong.html) allow us to fetch prices and instance attributes in realtime.

[2020-11-11 17:05] cristim commented on #441
Thanks @gjmvelos, I'm well aware of those APIs, it's just that last time I tried they werr relatively slow and resource-intensive, not very well suited for using them from a Lambda function, unless we can somehow cache the data between runs assuming the Lambda function is kept warm.

The data we get from ec2instances.info is generated using those APIs pretty frequently but it's much more space and

[2020-11-11 20:41] #448 closed

[2020-11-22 18:17] cristim commented on #129
I think the recently released savings dashboard pretty much solves this. https://www.reddit.com/r/aws/comments/jyf8ph/ec2_spot_console_now_shows_you_how_much_money/

[2020-11-22 18:17] #129 closed

[2021-02-12 20:36] gabegorelick opened #455 "Comparison to EC2 Auto Scaling Capacity Rebalancing"
# Github issue #

## Issue type ##

- Documentation Report

## Summary ##

As of https://github.com/AutoSpotting/AutoSpotting/issues/448, AutoSpotting now responds to instance rebalance recommendation notifications. But AWS also has a native solution called "EC2 Auto Scaling Capacity Rebalancing" that responds to these events in a similar manner as AutoSpotting. It would be nice to highlight the d

[2021-02-12 22:25] cristim commented on #455
Thanks for reporting this.

 At the moment I don't have any time to look into this but by all means please try to test it and report back your findings, preferably in a pull request to update the documentation.

If you don't like the way AutoSpotting handles this, pull requests to change it for the better are always welcome 😁

[2021-04-01 11:10] cristim commented on #441
Thanks,I'll have a look at this when I get to work on this issue

[2021-04-08 03:56] Reinkaos opened #456 "Kubernetes cronjob appears to be ignoring the disallowed instance types."
Hey,

I am using the Kubernetes cronjob that is provided and I have specified r5d.large in the `DISALLOWED_INSTANCE_TYPES`. I can see that it is coming through in the config, (as below) but it is still starting up these instances.

[code]

[code]

This seems to be have been referenced before https://github.com/AutoSpotting/AutoSpotting/issues/312.

Please let me know if I am doing something wrong.

[2021-04-08 05:42] cristim commented on #456
Thanks for reporting this issue.

I'm quite busy with other things and I have no plans to look into this for the foreseeable future but if you can figure it out I'd love to see a pull request addressing it.

[2021-04-08 23:47] Reinkaos commented on #456
Hey, thanks for letting me know.

[2021-05-03 16:20] bilalmughal opened #459 "Does Autospotting support Graviton2 and Mixed Instance Policy?"
I don't know if it's the right place to ask this question but I feel this feature will not only takes the "AutoSpotting" a level above. And will help many others as well.
We can have multiple launch templates to allow instances with different CPU architectures (Arm and x86) to launch in the same Auto Scaling group.
We can achieve this  with following cloudformation template snippet

[code]
Since t

[2021-05-03 22:10] #459 closed

[2021-06-07 16:07] kulinsj opened #463 "invalid memory address or nil pointer dereference: errorString lambdaPanicResponse"
# Github issue #

## Issue type ##

- Bug Report

## Build number #

[code]

## Configuration ##

Default stack config

## Environment ##

- Stack in us-east-1
- spot instances attempting spot request replacement are in us-west-2
- VPC
- Anonymized launch configuration:

[code]

## Summary ##

Installed the evaluation stack with the default settings. The regional lambdas trigger and send the messa

[2021-06-08 14:29] cristim commented on #463
Thanks for reporting this, I'll look into it within the next few days.

[2021-06-08 14:44] cristim commented on #463
Looks like we need a volume type, the code doesn't currently handle the situation in which the volume type is missing:

[code]
Which volume type do you get for the running instances?

[2021-06-08 15:03] cristim commented on #463
@kulinsj I just pushed a change that should probably address this.

I don't currently have time to test it but please try the latest build and let me know if it helped.

[2021-06-08 18:59] kulinsj commented on #463
You're right, the AMI defines the EBS block type storage.

Sure did! All systems go now, spot instances are launching again. Thanks!

[2021-06-08 18:59] #463 closed

[2021-06-08 19:56] cristim commented on #463
Great to hear, thanks! Let me know if you run into any other issues

[2021-06-08 20:14] kulinsj commented on #463
In the logs it does show it being updated to GP3, yes

[2021-06-09 01:06] cristim commented on #463
Awesome, thanks for checking this!

[2021-09-14 16:56] manfredlift opened #470 "SQS Message Group ID too long"
https://github.com/AutoSpotting/AutoSpotting/blob/ca139105a9aa995aeb2c339686713c382e5c02e6/core/region.go#L496

I am running into an issue where putting messages on the SQS consistently fails with error:

Should the AutoSpotting code potentially truncate the `MessageGroupId` to ensure it's less than 128 characters?

[2021-09-14 19:06] cristim commented on #470
Yes, probably that could be done.

I just wonder how come your ASG names are allowed to be so long.

[2021-09-14 19:52] cristim commented on #470
@manfredlift The latest release candidate version currently available from the AWS Marketplace should work. You'll need to sign up, install the CloudFormation template and make sure to use `1.0.8-rc4` for the Docker image tag when installing.

I'll release a new official build on the Marketplace over the next few days after I get to test this a bit more.

[2021-09-14 20:06] manfredlift commented on #470
No, I am using versions built from source. I understand if this bug fix doesn't get priority -- I was mostly reporting the issue as fixing it might benefit other users as well.

[2021-09-14 22:37] cristim commented on #470
Thanks for reporting it, as I said it should be already fixed in the latest stable release candidate.

I just have no reasons to release it to OSS for now. I'll probably only release it later if it ever becomes a maintenance burden to maintain as part of my stable private branch.

[2021-09-14 22:55] #470 closed

[2021-09-15 09:28] manfredlift commented on #470
@cristim, just to confirm my understanding that new features and bug fixes for AutoSpotting project are closed source from now on?

[2021-09-15 10:16] cristim commented on #470
@manfredlift no, I keep developing features in the open, but I offer no bugfixing support for the OSS code.

For the stable builds I have a private branch that I occasionally fork/rebase from the latest version of the OSS code and I maintain in private. It contains some build system changes, as well as bugfixes for bugs I find myself while testing and making a new stable build. These I may sometim

[2021-09-16 17:25] cristim commented on #470
@manfredlift the main feature I've been working on over the last few weeks has just been pushed as a draft pull request(it's not ready yet but it's been progressing nicely), have a look at https://github.com/AutoSpotting/AutoSpotting/pull/471 to see what I've been up to.

[2022-01-04 15:17] mello7tre opened #479 "LaunchTemplate/LaunchConfiguration VolumeSize overwritten by Image one"
# Github issue #

## Issue type ##

- Bug Report

## Build number #

[code]

## Summary ##

Spot instance is launched with a wrong VolumeSize, the default one of the ami.

## Steps to reproduce ##

Use AutoSpotting to replace an instance where the image volume size is different from the one specified in the LaunchTemplate BlockDeviceMappings.

## Expected results ##

Launched Spot should have a di

[2022-01-05 18:09] cristim commented on #479
Thanks, good catch!

[2022-01-05 18:09] #479 closed

[2022-02-17 19:23] cristim commented on #456
TBH, I no longer recommend running AutoSpotting as a Kubernetes cronjob, the current event-based implementation improved the instance replacement logic a lot but it requires EventBridge and therefore needs to run from Lambda.

It should still run as a cron job but will only do the classic instance replacement which isn't ideal, so I have no plans to look into this issue but I'd happily consider a

[2022-02-17 19:23] #456 closed

[2022-02-17 19:26] cristim commented on #456
I actually remember something similar, I think the `AllowedInstanceTypes:"*"` takes precedence over ` DisallowedInstanceTypes:"r5d.large"`, so just set it to an empty string, this should do the trick: `AllowedInstanceTypes:""`

[2022-02-17 19:55] cristim commented on #455
The OnDemand instances are not launched by AutoSpotting, but by the ASG itself. When the event comes, (regardless if it's a termination of rebalancing event, as they're handled the same way) AutoSpotting will currently either:

1) proactively detach the terminating Spot instance from the ASG and leave it run outside the ASG for up to 14 minutes (we have a 15min Lambda timeout), then terminates it

[2022-03-22 16:26] sdaniel-r7 opened #483 "ASG on_demand_price_multiplier preference"
# Github issue #

## Issue type ##
- Bug Report

## Build number #
build  1.0-custom-f295a1f
Commit SHA1: f295a1f86c4a21144fc7fe28a69da5668fb7ad0c

## Configuration ##

## Environment ##
- AWS region: us-east-1
- Type of environment: VPC

## Summary ##
Appears as if the ASG multiplier value is fetched but not utilized. Instead it continues to rely on the lambda multiplier value for price calc.

##

[2022-03-28 23:37] jjones-smug opened #484 "Accumulating spot instances that are not attached to ASG's"
# Github issue #

We upgraded our "live" ASG's to the latest release of the Autospotting code last week after running it without issue in out "test" environment for several days.  But after about 12 hours we wound up with a group of unattached spot instances that were launched, running, and tagged like one of the Autospotting enabled ASG's.  In other words it looked like spot replacements were pro

[2022-03-28 23:49] jjones-smug commented on #484
Samples fields from several TerminateInstanceInAutoScalingGroup API calls.  The ones that are failing don't have null "request" data.  The ones that work have a request blob with an instance id.

[cloudtrail-api-calls-extract.txt](https://github.com/cloudutil/AutoSpotting/files/8366993/cloudtrail-api-calls-extract.txt)

Scrubbed CloudWatch logs from two Lambda invocations.

[cloudwatch-logs-extrac

[2022-03-29 11:26] yixuanhu opened #485 "update go.mod and go.sum to use latest ec2-instances-info version"
# Github issue #
We are trying to use the latest c6i instance in our ASG, but autospotting failed to launch c6i spot instance because it does not have the typeinfo

## Issue type ##

- Bug Report

## Build number #

[code]

## Configuration ##

## Summary ##

We are trying to use the latest c6i instance in our ASG, but autospotting failed to launch c6i spot instance because it does not have the ty

[2022-03-29 18:43] cristim commented on #485
Thanks for reporting this issue.

I currently only work on issues and feature requests submitted by paying customers.

If you installed AutoSpotting from the marketplace tell me your account number on Slack and I'll look into this.

Otherwise I'm going to leave this open just in case someone else is willing to give it a try and  contribute a pull request, which I'm more than happy to consider.

[2022-03-29 18:45] cristim commented on #484
Thanks for reporting this issue.

I currently only work on issues and feature requests submitted by paying customers.

If you installed AutoSpotting from the marketplace tell me your account number on Slack and I'll look into this.

Otherwise I'm going to leave this open just in case someone else is willing to give it a try and contribute a pull request, which I'm more than happy to consider.

[2022-03-29 18:47] cristim commented on #483
Thanks for reporting this issue.

I currently only work on issues and feature requests submitted by paying customers.

If you installed AutoSpotting from the marketplace tell me your account number on Slack and I'll look into this.

Otherwise I'm going to leave this open just in case someone else is willing to give it a try and contribute a pull request, which I'm more than happy to consider.

[2022-05-19 08:25] cristim commented on #485
I recently updated the instance type information un to including the newly released I4i instance types, let me know if you notice any issues.

[2022-05-19 08:25] #485 closed

[2022-05-19 08:27] cristim commented on #484
I've recently committed a change to the instance replacement logic that should address this.

We're now essentially using the same replacement logic we use for the new instances, without waiting for the grace period anymore with the Spot instance outside the ASG but just swapping instances once every 30min.

Let me know if this addresses your issues.

[2022-05-19 08:27] #484 closed

[2022-06-02 06:14] PatMyron commented on #443
linking https://github.com/cloudutil/AutoSpotting/issues/442

---

not seeing any hardcoded AMIs, instance types, or availability zones. just hardcoded regions and hardcoded ARN partitions:

https://sourcegraph.com/search?q=r:cloudutil/AutoSpotting+us-east-1+-file:_test.go|.example+-lang:markdown

https://github.com/cloudutil/AutoSpotting/blob/2314671dbcc0b829298c06d9618106a6f9e8cda5/core/instance

[2022-07-12 17:29] cristim commented on #14
The current version of AutoSpotting trunk implements CodeDeploy support against ASG deployment groups, so the previous workaround using tag-based deployment groups should no longer be necessary.

Please try it out and report back if you notice any issues.

[2022-07-27 12:27] cristim commented on #484
@jjones-smug did you get the chance to test this out?

[2022-09-26 16:24] cristim opened #490 "Instance type updates"
Update instance type information to include R6a instance types

[2022-09-26 16:25] cristim opened #491 "Instance type filtering only optionally considering the EBS throughput"
Make it possible to ignore EBS throughput when comparing instance types, for wider diversification.